<template>
  <v-container fill-height fluid grid-list-md>
    <v-layout justify-center row wrap>
      <v-flex md3 xs12 offset-md1>
        <v-container fluid fill-height text-xs-center>
          <v-layout wrap justify-center>
            <v-flex xs12>
              <v-card color="primary">
                <v-avatar
                  size="120"
                  class="mt-4"
                >
                  <v-img
                    v-if="martyr.photo"
                    :src="martyr.photo"
                    alt="martyr avatar"
                  />
                  <v-img
                    v-else
                    src="https://api.vesal.name/post/Photo/previewPhoto.png"
                    alt="martyr avatar"
                  />
                </v-avatar>
                <v-card-text>
                  <v-layout wrap justify-center>
                    <v-flex xs12>
                      <strong>
                        {{ martyr.martyrname }}
                      </strong>
                    </v-flex>
                    <v-flex v-if="martyr.name || martyr.lastName" xs12>
                      {{ martyr.name }} {{ martyr.lastName }}
                    </v-flex>
                    <v-flex xs12>
                      نام پدر:
                      {{ martyr.fatherName }}
                    </v-flex>
                    <v-flex xs12>
                      تاریخ تولد:
                      {{ $d(new Date(martyr.birthday), 'short') }}
                    </v-flex>
                    <v-flex xs12>
                      تاریخ شهادت:
                      {{ $d(new Date(martyr.deathday), 'short') }}
                    </v-flex>
                  </v-layout>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
      <v-flex md7 xs12>
        <v-container fluid fill-height>
          <v-layout wrap justify-center>
            <v-flex xs12>
              <v-tabs
                grow
                color="secondary"
                dark
                icons-and-text
              >
                <v-tabs-slider color="primary" />

                <v-tab href="#tab-1">
                  {{ $t('martyr.information') }}
                  <v-icon>fa-user</v-icon>
                </v-tab>

                <v-tab href="#tab-2">
                  {{ $t('martyr.bio') }}
                  <v-icon>fa-id-badge</v-icon>
                </v-tab>

                <v-tab href="#tab-3">
                  {{ $t('martyr.will') }}
                  <v-icon>fa-file-invoice</v-icon>
                </v-tab>

                <v-tab-item
                  :value="'tab-1'"
                >
                  <information :martyr="martyr" />
                </v-tab-item>

                <v-tab-item
                  :value="'tab-2'"
                >
                  <bio :bio="martyr.bio" />
                </v-tab-item>

                <v-tab-item
                  :value="'tab-3'"
                >
                  <will :will="martyr.will" />
                </v-tab-item>
              </v-tabs>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import information from '~/components/martyr/information'
import bio from '~/components/martyr/bio'
import will from '~/components/martyr/will'
export default {
  components: {
    information,
    bio,
    will
  },
  head() {
    return {
      title: this.martyr.name + ' ' + this.martyr.lastName
    }
  },
  data() {
    return {
      martyr: null
    }
  },
  async asyncData({ app, params }) {
    try {
      const { data } = await app.$axios.get(`/martyr?martyrId=${params.id}`)
      return { martyr: data.martyrList[0] }
    } catch (e) {
      console.log(e)
    }
  }
}
</script>
