<template>
  <v-list-group
    :value="false"
    :prepend-icon="prepandIcon"
    no-action
  >
    <v-list-tile slot="activator">
      <v-list-tile-title>{{ title }}</v-list-tile-title>
    </v-list-tile>
    <list-tile
      v-for="item in menuItems"
      :key="item.key"
      :menu-key="item.key"
      :menu-to="item.to"
      :menu-icon="item.icon"
      :menu-title="item.title"
    />
  </v-list-group>
</template>

<script>
import listTile from '~/components/sideMenu/panel/listTile'
export default {
  components: {
    listTile
  },
  props: {
    prepandIcon: {
      type: String,
      requierd: true,
      default: ''
    },
    title: {
      type: String,
      requierd: true,
      default: ''
    },
    menuItems: {
      type: Array,
      requierd: true,
      default: () => []
    }
  }
}
</script>
