<template>
  <v-list-tile
    :key="menuKey"
    :to="menuTo"
    router
    exact
  >
    <v-list-tile-action>
      <v-icon>
        {{ menuIcon }}
      </v-icon>
    </v-list-tile-action>
    <v-list-tile-title>
      {{ menuTitle }}
    </v-list-tile-title>
  </v-list-tile>
</template>

<script>
export default {
  props: {
    menuKey: {
      type: Number,
      requierd: true,
      default: 1
    },
    menuTo: {
      type: String,
      requierd: true,
      default: '/'
    },
    menuIcon: {
      type: String,
      requierd: true,
      default: ''
    },
    menuTitle: {
      type: String,
      requierd: true,
      default: 'User'
    }
  }
}
</script>
