<template>
  <header>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      enable-resize-watcher
      :right="right"
      app
      class="secondary"
    >
      <v-list>
        <v-list-tile
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-tile-action>
            <v-icon>
              {{ item.icon }}
            </v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title" />
          </v-list-tile-content>
        </v-list-tile>

        <list-group
          v-for="menu in groupMenu"
          :key="menu.menuItems.key"
          :prepand-icon="menu.prepandIcon"
          :title="menu.title"
          :menu-items="menu.menuItems"
        />
      </v-list>
    </v-navigation-drawer>
  </header>
</template>

<script>
import listGroup from '~/components/sideMenu/panel/listGroup'
export default {
  components: {
    listGroup
  },
  props: {
    drawer: {
      type: Boolean,
      requierd: true,
      default: true
    },
    miniVariant: {
      type: Boolean,
      requierd: true,
      default: true
    }
  },
  data() {
    return {
      clipped: true,
      right: this.$vuetify.rtl,
      items: [
        {
          icon: 'fas fa-tachometer-alt',
          title: this.$t('header.menuItems.adminPanel'),
          to: '/panel'
        }
      ],
      groupMenu: [
        {
          title: this.$t('sideMenuItems.martyr.title'),
          prepandIcon: 'fas fa-users',
          menuItems: [
            {
              key: 1,
              icon: 'fas fa-list',
              title: this.$t('sideMenuItems.martyr.list'),
              to: '/panel/martyr'
            },
            {
              key: 2,
              icon: 'fas fa-plus',
              title: this.$t('sideMenuItems.martyr.create'),
              to: '/panel/martyr/create'
            }
          ]
        },
        {
          title: this.$t('sideMenuItems.operation.title'),
          prepandIcon: 'fas fa-radiation-alt',
          menuItems: [
            {
              key: 3,
              icon: 'fas fa-list',
              title: this.$t('sideMenuItems.operation.list'),
              to: '/panel/operation'
            },
            {
              key: 4,
              icon: 'fas fa-plus',
              title: this.$t('sideMenuItems.operation.create'),
              to: '/panel/operation/create'
            }
          ]
        },
        {
          title: this.$t('sideMenuItems.post.title'),
          prepandIcon: 'fas fa-mail-bulk',
          menuItems: [
            {
              key: 5,
              icon: 'fas fa-list',
              title: this.$t('sideMenuItems.post.list'),
              to: '/panel/post'
            },
            {
              key: 6,
              icon: 'fas fa-plus',
              title: this.$t('sideMenuItems.post.create'),
              to: '/panel/post/create'
            }
          ]
        },
        {
          title: this.$t('sideMenuItems.category.title'),
          prepandIcon: 'fa fa-list-alt',
          menuItems: [
            {
              key: 7,
              icon: 'fas fa-list',
              title: this.$t('sideMenuItems.category.list'),
              to: '/panel/category'
            },
            {
              key: 8,
              icon: 'fas fa-plus',
              title: this.$t('sideMenuItems.category.create'),
              to: '/panel/category/create'
            }
          ]
        },
        {
          title: this.$t('sideMenuItems.tag.title'),
          prepandIcon: 'fas fa-hashtag',
          menuItems: [
            {
              key: 9,
              icon: 'fas fa-list',
              title: this.$t('sideMenuItems.tag.list'),
              to: '/panel/tag'
            },
            {
              key: 10,
              icon: 'fas fa-plus',
              title: this.$t('sideMenuItems.tag.create'),
              to: '/panel/tag/create'
            }
          ]
        },
        {
          title: this.$t('sideMenuItems.service.title'),
          prepandIcon: 'fas fa-ad',
          menuItems: [
            {
              key: 10,
              icon: 'fas fa-list',
              title: this.$t('sideMenuItems.service.list'),
              to: '/panel/service'
            },
            {
              key: 11,
              icon: 'fas fa-plus',
              title: this.$t('sideMenuItems.service.create'),
              to: '/panel/service/create'
            }
          ]
        },
        {
          title: this.$t('sideMenuItems.user.title'),
          prepandIcon: 'fas fa-user',
          menuItems: [
            {
              key: 12,
              icon: 'fas fa-list',
              title: this.$t('sideMenuItems.user.list'),
              to: '/panel/user'
            },
            {
              key: 13,
              icon: 'fas fa-user-plus',
              title: this.$t('sideMenuItems.user.create'),
              to: '/panel/user/create'
            }
          ]
        }
      ]
    }
  }
}
</script>
