<template>
  <v-container fill-height fluid>
    <v-layout wrap>
      <v-flex xs12>
        <v-data-table
          dark
          :headers="headers"
          :loading="loading"
          :items="postList"
          class="elevation-1"
        >
          <template v-slot:items="props">
            <td class="text-xs-center">
              {{ props.item.title }}
            </td>
            <td class="text-xs-center">
              <span v-if="props.item.publishDate">
                {{ $d(new Date(props.item.publishDate), 'short') }}
              </span>
              <span v-else>
                {{ $t('post.notPublished') }}
              </span>
            </td>
            <td class="text-xs-center">
              <span v-for="(category, index) in props.item.categoryId" :key="index">
                {{ JSON.parse(category).categoryName }}
              </span>
            </td>
            <td class="text-xs-center">
              {{ $d(new Date(props.item.createdAt), 'short') }}
            </td>
            <td class="text-xs-center">
              <v-icon
                small
                @click="publishPost(props.item, props.item.publishDate)"
              >
                fa-vote-yea
              </v-icon>
              <v-icon
                small
                @click="editPost(props.item)"
              >
                edit
              </v-icon>
              <v-icon
                small
                @click="detelePost(props.item)"
              >
                delete
              </v-icon>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  layout: 'panel',
  data() {
    return {
      loading: false,
      postList: [],
      headers: [
        { text: 'عنوان', align: 'center', value: 'title' },
        { text: 'تاریخ انتشار', align: 'center', value: 'publishDate' },
        { text: 'دسته‌بندی', align: 'center', value: 'categoryId.name' },
        { text: 'تاریخ ایجاد', align: 'center', value: 'createdAt' },
        { text: 'عملیات', align: 'center', sortable: false }
      ]
    }
  },
  async asyncData({ app }) {
    try {
      const { data } = await app.$axios.get('/post')
      return { postList: data.postList }
    } catch (e) {
      console.log(e)
    }
  },
  fetch({ store, redirect }) {
    if (!store.$auth.loggedIn || store.$auth.user.userType !== 'superAdmin') {
      return redirect('/')
    }
  },
  methods: {
    editPost(post) {
      this.$router.push({ path: `/panel/post/edit/${post._id}` })
    },
    detelePost(post) {
      try {
        this.$toasted.show(this.$t('post.deletingPost'))
        this.$axios
          .delete(`/post/${post._id}`)
          .then(response => {
            this.$toasted.success(this.$t('post.deletePostSuccessfuly'))
            this.$toasted.show(this.$t('post.fetchingPost'))
            this.loading = true
            this.$axios.get('/post').then(response => {
              this.postList = response.data.postList
              this.loading = false
              this.$toasted.success(this.$t('post.fetchPostSuccessfuly'))
            })
          })
          .catch(e => {
            this.$toasted.error(this.$t('post.deletePostFailed'))
            console.log(e)
          })
      } catch (e) {
        this.$toasted.error(this.$t('post.deletePostFailed'))
        console.log(e)
      }
    },
    fetchPost() {
      try {
        this.$toasted.show(this.$t('post.fetchingPost'))
        this.loading = true
        this.$axios
          .get('/post')
          .then(response => {
            this.postList = response.data.postList
            this.$toasted.success(this.$t('post.fetchPostSuccessfuly'))
            this.loading = false
          })
          .catch(e => {
            console.log(e)
          })
      } catch (e) {
        console.log(e)
      }
    },
    async publishPost(post, publishDate) {
      try {
        let publish = true
        if (publishDate) {
          publish = false
        }
        this.$toasted.show(this.$t('post.publishingPost'))
        await this.$axios
          .patch(`/post/publish/${post._id}`, {
            doPublishing: publish
          })
          .then(() => {
            this.$toasted.success(this.$t('post.publishPostSuccessfuly'))
            this.fetchPost()
          })
      } catch (e) {
        this.$toasted.error(this.$t('post.publishPostFailed'))
      }
    }
  }
}
</script>

<style scoped>
.fix-align {
  display: flex;
}
</style>
