<template>
  <v-card flat color="primary">
    <v-card-text>
      <v-layout wrap justify-center align-center>
        <v-flex xs6>
          <v-text-field
            v-model="email"
            :label="$t('user.profile.email')"
            color="secondary"
            dir="auto"
            name="Email"
            placeholder="MohamadEbrahimHemmat@gmail.com"
          />
        </v-flex>
        <v-flex xs4>
          <v-text-field
            v-model="mobile"
            :label="$t('user.profile.mobile')"
            color="secondary"
            dir="auto"
            name="Mobile"
            placeholder="9123456789"
          />
        </v-flex>
        <v-flex xs2>
          <v-text-field
            v-model="countryPre"
            :label="$t('user.profile.countryPre')"
            color="secondary"
            dir="auto"
            name="CountryPre"
            placeholder="+98"
          />
        </v-flex>
        <v-flex xs4>
          <v-text-field
            v-model="phone"
            :label="$t('user.profile.phone')"
            color="secondary"
            dir="auto"
            name="Phone"
            placeholder="11111111"
          />
        </v-flex>
        <v-flex xs2>
          <v-text-field
            v-model="cityPre"
            :label="$t('user.profile.cityPre')"
            color="secondary"
            dir="auto"
            name="CityPre"
            placeholder="021"
          />
        </v-flex>
        <v-flex xs6>
          <v-text-field
            v-model="telegram"
            :label="$t('user.profile.telegram')"
            color="secondary"
            dir="auto"
            name="Telegram"
            placeholder="@VesalName"
          />
        </v-flex>
        <v-flex xs6>
          <v-text-field
            v-model="bale"
            :label="$t('user.profile.bale')"
            color="secondary"
            dir="auto"
            name="Bale"
            placeholder="@Bale"
          />
        </v-flex>
        <v-flex xs6>
          <v-text-field
            v-model="instagram"
            :label="$t('user.profile.instagram')"
            color="secondary"
            dir="auto"
            name="Instagram"
            placeholder="@VesalName"
          />
        </v-flex>
        <v-flex xs6>
          <v-text-field
            v-model="whatsapp"
            :label="$t('user.profile.whatsapp')"
            color="secondary"
            dir="auto"
            name="Whatsapp"
            placeholder="09123456789"
          />
        </v-flex>
        <v-flex xs6>
          <v-text-field
            v-model="postalCode"
            :label="$t('user.profile.postalCode')"
            color="secondary"
            dir="auto"
            name="PostalCode"
            placeholder="12356-67890"
          />
        </v-flex>
        <v-flex xs12>
          <v-textarea
            v-model="address"
            :label="$t('user.profile.address')"
            color="secondary"
            dir="auto"
            name="Address"
            placeholder="تهران، بلوار عدل شمالی"
          />
        </v-flex>
      </v-layout>
    </v-card-text>
    <v-btn color="secondary" @click="updateProfileContactInfo()">
      ثبت اطلاعات تماس
    </v-btn>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      email: this.$store.state.auth.user.email,
      mobile: this.$store.state.auth.user.mobile,
      countryPre: this.$store.state.auth.user.countryPre,
      phone: this.$store.state.auth.user.phone,
      cityPre: this.$store.state.auth.user.cityPre,
      telegram: this.$store.state.auth.user.telegram,
      instagram: this.$store.state.auth.user.instagram,
      bale: this.$store.state.auth.user.bale,
      whatsapp: this.$store.state.auth.user.whatsapp,
      postalCode: this.$store.state.auth.user.postalCode,
      address: this.$store.state.auth.user.address
    }
  },
  methods: {
    async updateProfileContactInfo() {
      const data = {}
      if (this.email) {
        data.email = this.email
      }
      if (this.mobile) {
        data.mobile = this.mobile
      }
      if (this.countryPre) {
        data.countryPre = this.countryPre
      }
      if (this.phone) {
        data.phone = this.phone
      }
      if (this.cityPre) {
        data.cityPre = this.cityPre
      }
      if (this.telegram) {
        data.telegram = this.telegram
      }
      if (this.instagram) {
        data.instagram = this.instagram
      }
      if (this.bale) {
        data.bale = this.bale
      }
      if (this.whatsapp) {
        data.whatsapp = this.whatsapp
      }
      if (this.postalCode) {
        data.postalCode = this.postalCode
      }
      if (this.address) {
        data.address = this.address
      }
      try {
        this.$toast.show(this.$t('user.profile.contactInfoUpdating'))
        await this.$axios.patch('/user', data)
        await this.$auth.fetchUser()
        this.$toast.success(this.$t('user.profile.updatedSuccessfuly'))
        this.$router.push({ path: '/user/profile' })
      } catch (e) {
        this.$toast.error(this.$t('user.profile.updateFailed'))
      }
    }
  }
}
</script>
