<template>
  <v-card flat color="primary">
    <v-card-text>
      <v-layout wrap justify-center align-center>
        <v-flex xs6>
          <v-text-field
            v-model="name"
            :label="$t('user.profile.name')"
            color="secondary"
            dir="auto"
            name="Name"
          />
        </v-flex>
        <v-flex xs6>
          <v-text-field
            v-model="lastName"
            :label="$t('user.profile.lastName')"
            dir="auto"
            color="secondary"
            name="LastName"
          />
        </v-flex>
        <v-flex xs6>
          <v-text-field
            v-model="fatherName"
            :label="$t('user.profile.fatherName')"
            dir="auto"
            color="secondary"
            name="FatherName"
          />
        </v-flex>
        <v-flex xs6>
          <v-menu
            ref="birthdayDataPickerMenu"
            v-model="birthdayDataPickerMenu"
            :close-on-content-click="false"
            :nudge-right="40"
            lazy
            transition="scale-transition"
            offset-y
            full-width
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="birthdayTranslated"
                :label="$t('user.profile.birthday')"
                color="secondary"
                readonly
                v-on="on"
              />
            </template>
            <v-date-picker
              ref="birthdayDatePicker"
              v-model="birthday"
              :max="new Date().toISOString().substr(0, 10)"
              min="1920-01-01"
              locale="fa"
              first-day-of-week="6"
              @change="birthdayDataPickerSave"
            />
          </v-menu>
        </v-flex>
      </v-layout>
    </v-card-text>
    <v-btn color="secondary" @click="updateProfilePersonalInfo()">
      ثبت اطلاعات فردی
    </v-btn>
  </v-card>
</template>


<script>
export default {
  data() {
    return {
      name: this.$store.state.auth.user.name,
      lastName: this.$store.state.auth.user.lastName,
      fatherName: this.$store.state.auth.user.fatherName,
      birthday: this.$store.state.auth.user.birthday,
      birthdayDataPickerMenu: false
    }
  },
  computed: {
    birthdayTranslated() {
      if (this.birthday) {
        return this.$d(new Date(this.birthday), 'short')
      } else {
        return this.$d(new Date(), 'short')
      }
    }
  },
  watch: {
    birthdayDataPickerMenu(val) {
      val &&
        setTimeout(() => (this.$refs.birthdayDatePicker.activePicker = 'YEAR'))
    }
  },
  methods: {
    birthdayDataPickerSave(birthday) {
      this.$refs.birthdayDataPickerMenu.save(birthday)
    },
    async updateProfilePersonalInfo() {
      try {
        this.$toast.show(this.$t('user.profile.personalInfoUpdating'))
        await this.$axios.patch('/user', {
          name: this.name,
          lastName: this.lastName,
          fatherName: this.fatherName,
          birthday: this.birthday
        })
        await this.$auth.fetchUser()
        this.$toast.success(this.$t('user.profile.updatedSuccessfuly'))
        this.$router.push({ path: '/user/profile' })
      } catch (e) {
        this.$toast.error(this.$t('user.profile.updateFailed'))
      }
    }
  }
}
</script>
