<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-data-table
          dark
          :headers="headers"
          :items="operationList"
          class="elevation-1"
        >
          <template v-slot:items="props">
            <td class="text-xs-center">
              {{ props.item.name }}
            </td>
            <td class="text-xs-center">
              {{ $d(new Date(props.item.startDay), 'short') }}
            </td>
            <td class="text-xs-center">
              {{ $d(new Date(props.item.finishDay), 'short') }}
            </td>
            <td class="text-xs-center">
              {{ props.item.place }}
            </td>
            <td class="text-xs-center">
              {{ $n(props.item.martyrCnt) }}
            </td>
            <td class="text-xs-center">
              <v-icon
                small
              >
                edit
              </v-icon>
              <v-icon
                small
                class="mr-2"
                @click="deteleOperation(props.item.operationId)"
              >
                delete
              </v-icon>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  layout: 'panel',
  data() {
    return {
      loading: false,
      operationList: null,
      headers: [
        { text: 'نام', align: 'center', value: 'name' },
        { text: 'تاریخ شروع', align: 'center', value: 'startDay' },
        { text: 'تاریخ پایان', align: 'center', value: 'finishDay' },
        { text: 'مکان', align: 'center', value: 'place' },
        { text: 'تعداد شهدا', align: 'center', value: 'martyrCnt' },
        { text: 'عملیات', align: 'center', sortable: false }
      ]
    }
  },
  async asyncData({ app }) {
    try {
      const { data } = await app.$axios.get('/operation')
      console.log(data)
      return { operationList: data.operationList }
    } catch (e) {
      console.log(e)
    }
  },
  fetch({ store, redirect }) {
    if (!store.$auth.loggedIn || store.$auth.user.userType !== 'superAdmin') {
      return redirect('/')
    }
  },
  methods: {
    deteleOperation(operationId) {
      try {
        this.$toasted.show(this.$t('operation.deletingOperation'))
        this.$axios
          .delete(`/operation/${operationId}`)
          .then(response => {
            this.$toasted.success(
              this.$t('operation.deleteOperationSuccessfuly')
            )
            this.$toasted.show(this.$t('operation.fetchingOperation'))
            this.loading = true
            this.$axios.get('/operation').then(response => {
              this.operationList = response.data.operationList
              this.$toasted.success(
                this.$t('operation.fetchOperationSuccessfuly')
              )
              this.loading = false
            })
          })
          .catch(e => {
            this.$toasted.error(this.$t('operation.deleteOperationFailed'))
            console.log(e)
          })
      } catch (e) {
        this.$toasted.error(this.$t('operation.deleteOperationFailed'))
        console.log(e)
      }
    }
  }
}
</script>
