<template>
  <v-container fill-height fluid grid-list-md>
    <v-layout justify-center align-center wrap>
      <v-flex text-xs-center xs4>
        <v-card color="primary">
          <v-card-text>
            <v-alert
              :value="true"
              type="success"
            >
              {{ $t('auth.emailSent.confirmYourEmail') }}
            </v-alert>
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn to="/auth/login" color="secondary">
              {{ $t('auth.emailSent.goToLoginBtn') }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>


<script>
export default {
  head() {
    return {
      title: 'ارسال ایمیل'
    }
  },
  data() {
    return {}
  }
}
</script>
