<template>
  <v-container fill-height fluid>
    <v-layout justify-center row wrap>
      <v-flex md8 xs12>
        <v-timeline>
          <v-timeline-item
            v-for="operation in operationList"
            :key="operation.operationId"
            large
          >
            <template v-slot:icon>
              <v-avatar>
                <img src="https://i.pravatar.cc/64">
              </v-avatar>
            </template>
            <template v-slot:opposite>
              <span>
                شروع: {{ $d(new Date(operation.startDay), 'short') }}
              </span>
              /
              <span>
                پایان: {{ $d(new Date(operation.startDay), 'short') }}
              </span>
            </template>
            <v-card
              class="elevation-2"
              color="primary"
            >
              <v-card-title class="headline">
                {{ operation.name }}
              </v-card-title>
              <v-card-text>
                {{ operation.desc }}
              </v-card-text>
              <v-card-actions>
                <v-btn
                  class="mx-0"
                  outline
                >
                  {{ $t('operation.desc') }}
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-timeline-item>
        </v-timeline>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  head() {
    return {
      title: 'عملیات‌ها'
    }
  },
  data() {
    return {
      operationList: []
    }
  },
  beforeMount() {
    try {
      this.$axios.get(`/operation`).then(response => {
        this.operationList = response.data.operationList
        console.log(this.operationList)
      })
    } catch (e) {
      console.log(e)
    }
  }
}
</script>
