<template>
  <v-container fill-height fluid grid-list-md>
    <v-layout justify-center row wrap>
      <v-flex md8 sm8 xs12>
        <v-card color="secondary">
          <v-card-text>
            <v-list
              two-line
              class="primary"
            >
              <template v-for="martyr in martyrList">
                <v-list-tile
                  :key="martyr.martyrId"
                  avatar
                  @click="martyrInfo(martyr)"
                >
                  <v-list-tile-avatar>
                    <v-img v-if="martyr.photo" :src="martyr.photo" />
                  </v-list-tile-avatar>

                  <v-list-tile-content>
                    <v-list-tile-title>
                      {{ martyr.name }} {{ martyr.lastName }}
                    </v-list-tile-title>
                    <v-list-tile-sub-title>
                      فرزند {{ martyr.fatherName }}
                    </v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>
              </template>
            </v-list>
          </v-card-text>
          <v-card-actions class="justify-center text-xs-center">
            <v-pagination
              v-model="page"
              circle
              :length="226517"
              :total-visible="9"
              @input="refetch"
            />
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  head() {
    return {
      title: 'شهدا'
    }
  },
  data() {
    return {
      text: 'اطلاعات کاربر',
      page: 1,
      martyrList: []
    }
  },
  beforeMount() {
    try {
      this.$axios
        .get(`/martyr?limit=10&offset=${this.page - 1}`)
        .then(response => {
          this.martyrList = response.data.martyrList
        })
    } catch (e) {
      console.log(e)
    }
  },
  methods: {
    refetch() {
      try {
        let limit = 10
        if (this.page === 226517) {
          limit = 1
          this.page = 226526
        }
        this.$axios
          .get(`/martyr?limit=${limit}&offset=${this.page - 1}`)
          .then(response => {
            this.martyrList = response.data.martyrList
          })
      } catch (e) {
        console.log(e)
      }
    },
    martyrInfo(martyr) {
      this.$router.push({ path: `/martyr/${martyr.martyrId}` })
    }
  }
}
</script>
