<template>
  <v-card color="accent">
    <v-card-title>
      {{ $t('operation.title') }}
    </v-card-title>
    <v-card-text>
      <v-form v-model="valid">
        <v-container fluid fill-height grid-list-xs>
          <v-layout wrap justify-center>
            <v-flex xs6>
              <v-text-field
                v-model="name"
                dir="auto"
                name="Name"
                :label="$t('operation.name')"
                :rules="nameRules"
                required
              />
            </v-flex>
            <v-flex xs6>
              <v-menu
                ref="startDayDataPickerMenu"
                v-model="startDayDataPickerMenu"
                :close-on-content-click="false"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="startDayTranslated"
                    :label="$t('operation.startDay')"
                    prepend-icon="event"
                    readonly
                    v-on="on"
                  />
                </template>
                <v-date-picker
                  ref="startDayDatePicker"
                  v-model="startDay"
                  :max="new Date().toISOString().substr(0, 10)"
                  min="1950-01-01"
                  locale="fa"
                  first-day-of-week="6"
                  @change="startDayDataPickerSave"
                />
              </v-menu>
            </v-flex>
            <v-flex xs6>
              <v-menu
                ref="finishDayDataPickerMenu"
                v-model="finishDayDataPickerMenu"
                :close-on-content-click="false"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="finishDayTranslated"
                    :label="$t('operation.finishDay')"
                    prepend-icon="event"
                    readonly
                    v-on="on"
                  />
                </template>
                <v-date-picker
                  ref="finishDayDatePicker"
                  v-model="finishDay"
                  :max="new Date().toISOString().substr(0, 10)"
                  min="1950-01-01"
                  locale="fa"
                  first-day-of-week="6"
                  @change="finishDayDataPickerSave"
                />
              </v-menu>
            </v-flex>
            <v-flex xs6>
              <v-text-field
                v-model="place"
                dir="auto"
                name="Place" 
                :label="$t('operation.place')"
                :rules="placeRules"
                required
              />
            </v-flex>
            <v-flex xs6>
              <v-text-field
                v-model="ourTroopCnt"
                dir="auto"
                name="OurTroopCnt" 
                :label="$t('operation.ourTroopCnt')"
                :rules="ourTroopCntRules"
                required
              />
            </v-flex>
            <v-flex xs6>
              <v-text-field
                v-model="martyrCnt"
                dir="auto"
                name="MartyrCnt" 
                :label="$t('operation.martyrCnt')"
                :rules="martyrCntRules"
                required
              />
            </v-flex>
            <v-flex xs6>
              <v-text-field
                v-model="enemyTroopCnt"
                dir="auto"
                name="EnemyTroopCnt" 
                :label="$t('operation.enemyTroopCnt')"
                :rules="enemyTroopCntRules"
                required
              />
            </v-flex>
            <v-flex xs6>
              <v-text-field
                v-model="killCnt"
                dir="auto"
                name="KillCnt" 
                :label="$t('operation.killCnt')"
                :rules="killCntRules"
                required
              />
            </v-flex>
            <v-flex xs12>
              <v-textarea
                v-model="commander"
                dir="auto"
                name="Commander" 
                :label="$t('operation.commander')"
                :rules="commanderRules"
                required
              />
            </v-flex>
            <v-flex xs12>
              <v-textarea
                v-model="desc"
                dir="auto"
                name="Desc" 
                :label="$t('operation.desc')"
                :rules="descRules"
                required
              />
            </v-flex>
            <v-flex xs6>
              <v-btn color="secondary" :disabled="!valid" type="submit" @click.stop.prevent="create()">
                {{ $t('operation.submitBtn') }}
              </v-btn>
            </v-flex>
          </v-layout>
        </v-container>
      </v-form>
    </v-card-text>
  </v-card>
</template>


<script>
export default {
  data() {
    return {
      valid: false,
      name: '',
      startDay: null,
      startDayDataPickerMenu: false,
      finishDay: null,
      finishDayDataPickerMenu: false,
      place: '',
      commander: '',
      martyrCnt: '',
      ourTroopCnt: '',
      enemyTroopCnt: '',
      killCnt: '',
      desc: '',
      nameRules: [v => !!v || this.$t('operation.nameRequired')],
      startDayRules: [v => !!v || this.$t('operation.startDayRequired')],
      finishDayRules: [v => !!v || this.$t('operation.finishDayRequired')],
      placeRules: [v => !!v || this.$t('operation.placeRequired')],
      commanderRules: [v => !!v || this.$t('operation.commanderRequired')],
      martyrCntRules: [v => !!v || this.$t('operation.martyrCntRequired')],
      ourTroopCntRules: [v => !!v || this.$t('operation.ourTroopCntRequired')],
      enemyTroopCntRules: [
        v => !!v || this.$t('operation.enemyTroopCntRequired')
      ],
      killCntRules: [v => !!v || this.$t('operation.killCntRequired')],
      descRules: [v => !!v || this.$t('operation.descRequired')]
    }
  },
  computed: {
    startDayTranslated() {
      if (this.startDay) {
        return this.$d(new Date(this.startDay), 'short')
      } else {
        return this.$d(new Date(), 'short')
      }
    },
    finishDayTranslated() {
      if (this.finishDay) {
        return this.$d(new Date(this.finishDay), 'short')
      } else {
        return this.$d(new Date(), 'short')
      }
    }
  },
  watch: {
    startDayDataPickerMenu(val) {
      val &&
        setTimeout(() => (this.$refs.startDayDatePicker.activePicker = 'YEAR'))
    },
    finishDayDataPickerMenu(val) {
      val &&
        setTimeout(() => (this.$refs.finishDayDatePicker.activePicker = 'YEAR'))
    }
  },
  methods: {
    startDayDataPickerSave(startDay) {
      this.$refs.startDayDataPickerMenu.save(startDay)
    },
    finishDayDataPickerSave(finishDay) {
      this.$refs.finishDayDataPickerMenu.save(finishDay)
    },
    async create() {
      try {
        this.$toast.show(this.$t('operation.createOperation'))
        await this.$axios.post('/operation', {
          name: this.name,
          startDay: this.startDay,
          finishDay: this.finishDay,
          place: this.place,
          commander: this.commander,
          martyrCnt: this.martyrCnt,
          ourTroopCnt: this.ourTroopCnt,
          enemyTroopCnt: this.enemyTroopCnt,
          killCnt: this.killCnt,
          desc: this.desc
        })
        this.$toast.success(this.$t('operation.createOperationSuccessfuly'))
      } catch (e) {
        this.$toast.error(this.$t('operation.createOperationFailed'))
      }
    }
  }
}
</script>

<style scoped>
</style>
