<template>
  <v-container fluid fill-height>
    <v-layout justify-center wrap align-center>
      <v-flex text-xs-center md6 sm8 xs12>
        <register-card />
      </v-flex>
    </v-layout>
  </v-container>
</template>


<script>
import registerCard from '~/components/auth/register/registerCard'
export default {
  components: {
    registerCard
  },
  head() {
    return {
      title: 'ثبت نام'
    }
  }
}
</script>
