<template>
  <v-footer
    color="primary"
    :fixed="fixed"
    app
  >
    <span>&copy; {{ $t('footer.copyRight') }}</span>
  </v-footer>
</template>

<script>
export default {
  data() {
    return {
      fixed: true
    }
  }
}
</script>
