<template>
  <v-container fluid fill-height grid-list-md>
    <v-layout wrap justify-center>
      <v-flex md4 sm6 xs12>
        <chart
          title="ثبت نام کاربران"
          sub_title="نرخ ثبت نام کاربران احراز هویت شده"
          :loading="userRegisterationChartLoading"
          :labels="userRegisterationChartLabels"
          :value="userRegisterationChartValue"
        />
      </v-flex>
      <v-flex md4 sm6 xs12>
        <chart
          title="تعداد نوشته‌های ایجاد شده"
          sub_title="نرخ نوشته‌های ایجاد شده"
          :loading="postCreatedChartLoading"
          :labels="postCreatedChartLabels"
          :value="postCreatedChartValue"
        />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import chart from '~/components/panel/panel/chart'
export default {
  layout: 'panel',
  components: {
    chart
  },
  data() {
    return {
      userRegisterationChartLabels: [],
      userRegisterationChartValue: [0, 0, 0, 0, 0],
      userRegisterationChartLoading: true,
      postCreatedChartLabels: [],
      postCreatedChartValue: [0, 0, 0, 0, 0],
      postCreatedChartLoading: true
    }
  },
  fetch({ store, redirect }) {
    if (
      !store.$auth.loggedIn ||
      // store.$auth.user !== null ||
      store.$auth.user.userType !== 'superAdmin'
    ) {
      return redirect('/')
    }
  },
  async beforeMount() {
    try {
      this.userRegisterationChartLoading = true
      this.postCreatedChartLoading = true
      await this.$axios
        .get('/admin/statistic/mounthJoin/5')
        .then(response => {
          if (response.data.chartData.value.length > 0) {
            this.userRegisterationChartLabels = response.data.chartData.labels
            this.userRegisterationChartValue = response.data.chartData.value
          }
          this.userRegisterationChartLoading = false
        })
        .catch(e => {
          this.userRegisterationChartLoading = false
          console.log(e)
        })
      await this.$axios
        .get('/admin/statistic/mounthPost/5')
        .then(response => {
          if (response.data.chartData.value.length > 0) {
            this.postCreatedChartLabels = response.data.chartData.labels
            this.postCreatedChartValue = response.data.chartData.value
          }
          this.postCreatedChartLoading = false
        })
        .catch(e => {
          this.postCreatedChartLoading = false
          console.log(e)
        })
    } catch (e) {
      console.log(e)
    }
  }
}
</script>

<style scoped>
.data-empty {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
  font-size: 14px;
}
</style>
