<template>
  <v-container fluid grid-list-md>
    <v-layout justify-center wrap>
      <v-flex md10 xs12>
        <v-layout wrap justify-center>
          <v-flex
            v-for="(post, index) in postList"
            :key="index"
            d-inline-flex
            md4
            sm6
            xs12
          >
            <post
              :post-id="post._id"
              :title="post.title"
              :publish-date="post.publishDate"
              :img-url="post.previewPhoto"
              :categories="post.categoryId"
              :description="post.abstract"
            />
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex md2 xs12>
        <v-layout justify-center wrap>
          <v-flex xs12>
            <related-links />
          </v-flex>
          <v-flex xs12>
            <advertising />
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import post from '~/components/post/post'
import advertising from '~/components/post/advertising'
import relatedLinks from '~/components/post/relatedLinks'
export default {
  components: {
    post,
    advertising,
    relatedLinks
  },
  head() {
    return {
      title: 'نوشته‌ها'
    }
  },
  data() {
    return {}
  },
  async asyncData({ app }) {
    try {
      const { data } = await app.$axios.get('/post')
      return { postList: data.postList }
    } catch (e) {
      console.log(e)
    }
  }
}
</script>
