<template>
  <v-container fill-height fluid grid-list-md>
    <v-layout justify-center row wrap>
      <v-flex md3 xs12 offset-md1>
        <v-container fluid fill-height text-xs-center>
          <v-layout wrap justify-center>
            <v-flex xs12>
              <v-card color="primary">
                <v-avatar
                  size="120"
                  class="mt-4"
                >
                  <img
                    :src="user.avatar"
                    alt="user avatar"
                  >
                </v-avatar>
                <v-card-text>
                  <v-layout wrap justify-center>
                    <v-flex xs12>
                      <strong>
                        {{ user.username }}
                      </strong>
                    </v-flex>
                    <v-flex v-if="user.name || user.lastName" xs12>
                      {{ user.name }} {{ user.lastName }}
                    </v-flex>
                    <v-flex xs12>
                      {{ $t('user.profile.status') }}:
                      <template v-if="user.isActive">
                        <v-icon color="success">
                          fa-user-check
                        </v-icon>
                        <span
                          class="green--text text--darken-3"
                        >
                          {{ $t('user.profile.active') }}
                        </span>
                      </template>
                      <template v-else>
                        <v-icon color="error">
                          fa-user-times
                        </v-icon>
                        <span
                          class="red--text text--darken-3"
                        >
                          {{ $t('user.profile.notActive') }}
                        </span>
                      </template>
                    </v-flex>
                    <v-flex xs12>
                      {{ $t('user.profile.credit') }}: {{ $n(user.credit) }} {{ $t('user.profile.currency') }}
                    </v-flex>
                  </v-layout>
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex xs12>
              <v-card color="primary">
                <v-card-title primary-title class="headline">
                  فعالیت‌های حساب
                </v-card-title>
                <v-card-actions class="justify-center">
                  <v-btn flat to="/user/edit-profile">
                    بروزرسانی حساب
                  </v-btn>
                  <v-btn flat color="purple">
                    افزایش اعتبار
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
      <v-flex md7 xs12>
        <v-container fluid fill-height text-xs-center>
          <v-layout wrap justify-center>
            <v-flex xs12>
              <v-tabs
                grow
                color="secondary"
                dark
                icons-and-text
              >
                <v-tabs-slider color="primary" />

                <v-tab href="#tab-1">
                  {{ $t('user.profile.personalInfo') }}
                  <v-icon>fa-user</v-icon>
                </v-tab>

                <v-tab href="#tab-2">
                  {{ $t('user.profile.myMartyr') }}
                  <v-icon>fa-heart</v-icon>
                </v-tab>

                <v-tab href="#tab-3">
                  {{ $t('user.profile.contactInfo') }}
                  <v-icon>fa-phone</v-icon>
                </v-tab>

                <v-tab-item
                  :value="'tab-1'"
                >
                  <user-profile />
                </v-tab-item>

                <v-tab-item
                  :value="'tab-2'"
                >
                  <my-martyr-card />
                </v-tab-item>

                <v-tab-item
                  :value="'tab-3'"
                >
                  <contact-info-card />
                </v-tab-item>
              </v-tabs>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import userProfile from '~/components/user/profile/userProfile'
import contactInfoCard from '~/components/user/profile/contactInfo'
import myMartyrCard from '~/components/user/profile/myMartyr'
export default {
  components: {
    userProfile,
    contactInfoCard,
    myMartyrCard
  },
  head() {
    return {
      title: 'حساب کاربری'
    }
  },
  data() {
    return {
      text: 'اطلاعات کاربر'
    }
  },
  computed: {
    user() {
      return this.$store.state.auth.user
    }
  }
}
</script>
