<template>
  <v-card color="accent">
    <v-card-title>
      {{ $t('category.title') }}
    </v-card-title>
    <v-card-text>
      <v-form v-model="valid">
        <v-text-field
          v-model="categoryName"
          dir="auto"
          name="Name"
          :label="$t('category.name')"
          :rules="categoryNameRules"
          required
        />
        <v-text-field
          v-model="desc"
          dir="auto"
          name="Descrition" 
          :label="$t('category.desc')"
          :rules="descRules"
          required
        />
        <v-btn color="secondary" :disabled="!valid" type="submit" @click.stop.prevent="create()">
          {{ $t('category.submitBtn') }}
        </v-btn>
      </v-form>
    </v-card-text>
  </v-card>
</template>


<script>
export default {
  data() {
    return {
      valid: false,
      categoryName: '',
      desc: '',
      categoryNameRules: [v => !!v || this.$t('category.nameRequired')],
      descRules: [v => !!v || this.$t('category.descRequired')]
    }
  },
  methods: {
    async create() {
      try {
        this.$toast.show(this.$t('category.createCategory'))
        await this.$axios.post('/admin/category', {
          categoryName: this.categoryName,
          desc: this.desc
        })
        this.$toast.success(this.$t('category.createCategorySuccessfuly'))
      } catch (e) {
        this.$toast.error(this.$t('category.createCategoryFailed'))
      }
    }
  }
}
</script>

<style scoped>
</style>
