<template>
  <header>
    <v-toolbar
      color="primary"
      fixed
      app
      class="hidden-md-and-up"
    >
      <v-menu bottom left>
        <template v-slot:activator="{ on }">
          <v-btn
            icon
            v-on="on"
          >
            <v-icon>fa-bars</v-icon>
          </v-btn>
        </template>

        <v-list class="primary">
          <v-list-tile
            v-for="item in menuItemsFiltered"
            :key="item.id"
            :to="item.to"
            router
            exact
          >
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
      <v-img
        max-width="100px"
        max-height="100px"
        src="https://cdn.vesal.name/images/vesal-name-logo.png"
      />
      <v-spacer />
      <v-btn v-if="$store.state.auth.loggedIn" flat @click="logout()">
        {{ $t('header.menuItems.logout') }}
      </v-btn>
    </v-toolbar>
    <v-toolbar
      color="primary"
      fixed
      app
      class="hidden-sm-and-down"
    >
      <v-img
        max-width="100px"
        max-height="100px"
        src="https://cdn.vesal.name/images/vesal-name-logo.png"
      />
      <v-btn
        v-for="(item) in firstItems"
        :key="item.id"
        :to="item.to"
        flat
      >
        {{ item.title }}
      </v-btn>
      <v-spacer />
      <v-btn
        v-for="(item) in leftItmesProcessed"
        :key="item.id"
        :to="item.to"
        flat
      >
        {{ item.title }}
      </v-btn>
      <v-btn
        v-for="(item) in adminTabsFiltered"
        :key="item.id"
        :to="item.to"
        flat
      >
        {{ item.title }}
      </v-btn>
      <v-btn v-if="$store.state.auth.loggedIn" flat @click="logout()">
        {{ $t('header.menuItems.logout') }}
      </v-btn>
    </v-toolbar>
  </header>
</template>

<script>
export default {
  data() {
    return {
      title: 'وصال نامه',
      clippedRight: true,
      drawer: true,
      clipped: true,
      fixed: true,
      miniVariant: true,
      right: true,
      firstItems: [
        {
          id: 1,
          icon: 'home',
          title: this.$t('header.menuItems.home'),
          to: '/'
        },
        {
          id: 2,
          icon: 'blog',
          title: this.$t('header.menuItems.post'),
          to: '/post'
        },
        {
          id: 3,
          title: this.$t('header.menuItems.martyrs'),
          to: '/martyr'
        },
        {
          id: 4,
          title: this.$t('header.menuItems.operations'),
          to: '/operation'
        }
      ],
      leftItmes: [
        {
          id: 5,
          icon: 'user',
          title: this.$t('header.menuItems.profile'),
          to: '/user/profile',
          needAuth: true
        },
        {
          id: 6,
          icon: 'sign-in-alt',
          title: `${this.$t('header.menuItems.login')}/${this.$t(
            'header.menuItems.register'
          )}`,
          to: '/auth/login',
          needAuth: false
        }
      ],
      adminTabs: [
        {
          id: 7,
          icon: 'sign-in-alt',
          title: this.$t('header.menuItems.adminPanel'),
          to: '/panel',
          needAuth: true,
          userType: 'superAdmin'
        }
      ],
      menuItems: [
        {
          id: 8,
          icon: 'home',
          title: this.$t('header.menuItems.home'),
          to: '/',
          needAuth: 'all',
          userType: 'all'
        },
        {
          id: 9,
          icon: 'blog',
          title: this.$t('header.menuItems.post'),
          to: '/post',
          needAuth: 'all',
          userType: 'all'
        },
        {
          id: 10,
          title: this.$t('header.menuItems.martyrs'),
          to: '/martyr',
          needAuth: 'all',
          userType: 'all'
        },
        {
          id: 11,
          title: this.$t('header.menuItems.operations'),
          to: '/operation',
          needAuth: 'all',
          userType: 'all'
        },
        {
          id: 12,
          icon: 'user',
          title: this.$t('header.menuItems.profile'),
          to: '/user/profile',
          needAuth: true,
          userType: 'all'
        },
        {
          id: 13,
          icon: 'sign-in-alt',
          title: `${this.$t('header.menuItems.login')}/${this.$t(
            'header.menuItems.register'
          )}`,
          to: '/auth/login',
          needAuth: false,
          userType: 'all'
        },
        {
          id: 14,
          icon: 'sign-in-alt',
          title: this.$t('header.menuItems.adminPanel'),
          to: '/panel',
          needAuth: true,
          userType: 'superAdmin'
        }
      ]
    }
  },
  computed: {
    leftItmesProcessed() {
      return this.leftItmes.filter(
        value => value.needAuth === this.$store.state.auth.loggedIn
      )
    },
    adminTabsFiltered() {
      return this.adminTabs.filter(
        value =>
          this.$store.state.auth.loggedIn &&
          value.userType === this.$store.state.auth.user.userType
      )
    },
    menuItemsFiltered() {
      return this.menuItems.filter(
        value =>
          (value.needAuth === this.$store.state.auth.loggedIn ||
            value.needAuth === 'all') &&
          ((this.$store.state.auth.loggedIn &&
            value.userType === this.$store.state.auth.user.userType) ||
            value.userType === 'all')
      )
    }
  },
  methods: {
    async logout() {
      try {
        this.$toast.show(this.$t('messages.loggingOut'))
        await this.$auth.logout()
        this.$toast.success(this.$t('messages.loggingOutSuccess'))
      } catch (e) {
        this.$toast.error(this.$t('messages.loggingOutError'))
      }
    }
  }
}
</script>
