<template>
  <v-card color="primary">
    <v-card-text>
      {{ $t('logout.waitingForYou') }}
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  head() {
    return {
      title: 'خروج'
    }
  },
  fetch({ store, redirect }) {
    if (!store.$auth.loggedIn) {
      return redirect('/')
    }
  },
  async mounted() {
    try {
      this.$toast.show('Logging out...')
      await this.$auth.logout()
      this.$toast.success('Successfully logged out')
    } catch (e) {
      this.$toast.error('Error while logging out')
    }
  }
}
</script>
