<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-data-table
          dark
          :headers="headers"
          :items="categoryList"
          class="elevation-1"
        >
          <template v-slot:items="props">
            <td>{{ props.item.categoryName }}</td>
            <td class="text-xs-right">
              {{ props.item.desc }}
            </td>
            <td class="text-xs-center">
              <v-icon
                small
              >
                edit
              </v-icon>
              <v-icon
                small
                class="mr-2"
                @click="deteleCategory(props.item._id)"
              >
                delete
              </v-icon>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  layout: 'panel',
  data() {
    return {
      loading: false,
      categoryList: [],
      headers: [
        {
          text: 'نام',
          align: 'right',
          sortable: true,
          value: 'categoryName'
        },
        { text: 'توضیحات', value: 'desc', align: 'right' },
        { text: 'عملیات', align: 'center', sortable: false }
      ]
    }
  },
  async asyncData({ app }) {
    try {
      const { data } = await app.$axios.get('/admin/category')
      console.log(data)
      return { categoryList: data.categoryList }
    } catch (e) {
      console.log(e)
    }
  },
  fetch({ store, redirect }) {
    if (!store.$auth.loggedIn || store.$auth.user.userType !== 'superAdmin') {
      return redirect('/')
    }
  },
  methods: {
    deteleCategory(categoryId) {
      try {
        this.$toasted.show(this.$t('category.deletingCategory'))
        this.$axios
          .delete(`/admin/category/${categoryId}`)
          .then(response => {
            this.$toasted.success(this.$t('category.deleteCategorySuccessfuly'))
            this.$toasted.show(this.$t('category.fetchingCategory'))
            this.loading = true
            this.$axios.get('/admin/category').then(result => {
              this.categoryList = result.data.categoryList
              this.loading = false
              this.$toasted.success(
                this.$t('category.fetchCategorySuccessfuly')
              )
            })
          })
          .catch(e => {
            this.$toasted.error(this.$t('category.deleteCategoryFailed'))
            console.log(e)
          })
      } catch (e) {
        this.$toasted.error(this.$t('category.deleteCategoryFailed'))
        console.log(e)
      }
    }
  }
}
</script>
