<template>
  <v-card color="secondary">
    <v-card-title>
      {{ $t('register.title') }}
    </v-card-title>
    <v-card-text>
      <v-form v-model="valid">
        <v-layout justify-center wrap align-center>
          <v-flex xs12>
            <v-text-field
              v-model="username"
              dir="auto"
              name="Username"
              :label="$t('register.username')"
              :rules="usernameRules"
              required
            />
          </v-flex>
          <v-flex xs12>
            <v-text-field
              v-model="password"
              dir="auto"
              name="Password" 
              type="password"
              :label="$t('register.password')"
              :rules="passwordRules"
              required
            />
          </v-flex>
          <v-flex xs12>
            <v-text-field
              v-model="email"
              dir="auto"
              name="Email" 
              :label="$t('register.email')"
              :rules="emailRules"
              required
            />
          </v-flex>
          <v-flex xs12>
            <v-btn color="primary" :disabled="!valid" type="submit" @click.stop.prevent="register()">
              {{ $t('register.registerBtn') }}
            </v-btn>
          </v-flex>
          <v-flex xs12>
            {{ $t('register.login') }}
            <v-btn color="primary" flat to="/auth/login">
              {{ $t('register.loginBtn') }}
            </v-btn>
          </v-flex>
        </v-layout>
      </v-form>
    </v-card-text>
  </v-card>
</template>


<script>
export default {
  data() {
    return {
      valid: false,
      username: '',
      password: '',
      email: '',
      usernameRules: [v => !!v || this.$t('register.usernameRequired')],
      passwordRules: [v => !!v || this.$t('register.passwordRequired')],
      emailRules: [v => !!v || this.$t('register.emailRequired')]
    }
  },
  methods: {
    async register() {
      try {
        this.$toast.show(this.$t('register.registering'))
        await this.$axios.post('/user', {
          username: this.username,
          email: this.email,
          password: this.password
        })
        this.$toast.success(this.$t('register.registerationSuccess'))
        this.$router.push({ path: '/auth/email-sent' })
      } catch (e) {
        this.$toast.error(this.$t('register.registerationFailed'))
      }
    }
  }
}
</script>

<style scoped>
</style>
