<template>
  <header>
    <v-toolbar
      color="secondary"
      :clipped-left="!clippedRight"
      :clipped-right="clippedRight"
      fixed
      app
    >
      <v-toolbar-side-icon @click="updateDrawer(!drawer)" />
      <v-btn
        v-if="drawer"
        icon
        @click.stop="updateMiniVariant(!miniVariant)"
      >
        <v-icon>{{ `chevron_${miniVariant ? 'left' : 'right'}` }}</v-icon>
      </v-btn>
      <v-img
        max-width="100px"
        max-height="100px"
        src="https://cdn.vesal.name/images/vesal-name-logo.png"
      />
      <v-btn
        v-for="(item) in firstItems"
        :key="item.id"
        exact
        :to="item.to"
        flat
      >
        {{ item.title }}
      </v-btn>
      <v-spacer />
      <v-btn
        v-for="(item) in leftItmesProcessed"
        :key="item.id"
        :to="item.to"
        flat
      >
        {{ item.title }}
      </v-btn>
      <v-btn v-if="$store.state.auth.loggedIn" flat @click="logout()">
        {{ $t('header.menuItems.logout') }}
      </v-btn>
    </v-toolbar>
  </header>
</template>

<script>
export default {
  props: {
    drawer: {
      type: Boolean,
      requierd: true,
      default: true
    },
    miniVariant: {
      type: Boolean,
      requierd: true,
      default: true
    }
  },
  data() {
    return {
      clippedRight: this.$vuetify.rtl,
      title: 'وصال نامه',
      firstItems: [
        {
          id: 1,
          icon: 'home',
          title: this.$t('header.menuItems.home'),
          to: '/'
        },
        {
          id: 2,
          icon: 'blog',
          title: this.$t('header.menuItems.post'),
          to: '/post'
        },
        {
          id: 3,
          title: this.$t('header.menuItems.martyrs'),
          to: '/martyr'
        },
        {
          id: 4,
          title: this.$t('header.menuItems.operations'),
          to: '/operation'
        }
      ],
      leftItmes: [
        {
          id: 5,
          icon: 'user',
          title: this.$t('header.menuItems.profile'),
          to: '/user/profile',
          needAuth: true
        },
        {
          id: 6,
          icon: 'user-plus',
          title: this.$t('header.menuItems.register'),
          to: '/auth/register',
          needAuth: false
        },
        {
          id: 7,
          icon: 'sign-in-alt',
          title: this.$t('header.menuItems.login'),
          to: '/auth/login',
          needAuth: false
        },
        {
          id: 8,
          icon: 'sign-in-alt',
          title: this.$t('header.menuItems.adminPanel'),
          to: '/panel',
          needAuth: true,
          userType: 'superAdmin'
        }
      ]
    }
  },
  computed: {
    leftItmesProcessed() {
      return this.leftItmes.filter(
        value =>
          value.needAuth === this.$store.state.auth.loggedIn ||
          (this.$store.state.auth.loggedIn &&
            value.userType === this.$store.state.auth.user.userType)
      )
    }
  },
  methods: {
    async logout() {
      try {
        this.$toast.show(this.$t('messages.loggingOut'))
        await this.$auth.logout()
        this.$toast.success(this.$t('messages.loggingOutSuccess'))
      } catch (e) {
        this.$toast.error(this.$t('messages.loggingOutError'))
      }
    },
    updateDrawer() {
      this.$nuxt.$emit('updateDrawer', !this.drawer)
    },
    updateMiniVariant() {
      this.$nuxt.$emit('updateMiniVariant', !this.miniVariant)
    }
  }
}
</script>
