<template>
  <v-layout justify-center>
    <v-flex text-xs-center md6 sm8 xs12>
      <create-service-component />
    </v-flex>
  </v-layout>
</template>


<script>
import createServiceComponent from '~/components/panel/service/create/index'
export default {
  layout: 'panel',
  components: {
    createServiceComponent
  }
}
</script>

<style scoped>
</style>
