<template>
  <v-container fluid fill-height>
    <v-layout justify-center wrap align-center>
      <v-flex text-xs-center md6 sm8 xs12>
        <login-form />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import loginForm from '~/components/auth/login/loginForm'
export default {
  components: {
    loginForm
  },
  head() {
    return {
      title: 'ورود'
    }
  }
}
</script>
