<template>
  <v-card color="primary">
    <v-card-text class="break-line">
      {{ bio }}
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: {
    bio: {
      type: String,
      requierd: true,
      default: ''
    }
  }
}
</script>

<style scoped>
.break-line {
  white-space: pre-wrap;
}
</style>
