<template>
  <v-card flat color="primary">
    <v-card-text>
      <v-layout wrap justify-center text-xs-center>
        <v-flex xs12>
          <v-layout wrap justify-center>
            <v-flex xs6>
              {{ $t('martyr.name') }}
            </v-flex>
            <v-flex v-if="martyr.name" xs6>
              {{ martyr.name }}
            </v-flex>
            <v-flex v-else xs6>
              {{ $t('martyr.doesnotexist') }}
            </v-flex>
          </v-layout>
          <v-divider />
        </v-flex>
        <v-flex xs12>
          <v-layout wrap justify-center>
            <v-flex xs6>
              {{ $t('martyr.lastName') }}
            </v-flex>
            <v-flex v-if="martyr.lastName" xs6>
              {{ martyr.lastName }}
            </v-flex>
            <v-flex v-else xs6>
              {{ $t('martyr.doesnotexist') }}
            </v-flex>
          </v-layout>
          <v-divider />
        </v-flex>
        <v-flex xs12>
          <v-layout wrap justify-center>
            <v-flex xs6>
              {{ $t('martyr.fatherName') }}
            </v-flex>
            <v-flex v-if="martyr.fatherName" xs6>
              {{ martyr.fatherName }}
            </v-flex>
            <v-flex v-else xs6>
              {{ $t('martyr.doesnotexist') }}
            </v-flex>
          </v-layout>
          <v-divider />
        </v-flex>
        <v-flex xs12>
          <v-layout wrap justify-center>
            <v-flex xs6>
              {{ $t('martyr.birthPlace') }}
            </v-flex>
            <v-flex v-if="martyr.birthPlace" xs6>
              {{ martyr.birthPlace }}
            </v-flex>
            <v-flex v-else xs6>
              {{ $t('martyr.doesnotexist') }}
            </v-flex>
          </v-layout>
          <v-divider />
        </v-flex>
        <v-flex xs12>
          <v-layout wrap justify-center>
            <v-flex xs6>
              {{ $t('martyr.birthday') }}
            </v-flex>
            <v-flex v-if="martyr.birthday" xs6>
              {{ $d(new Date(martyr.birthday), 'short') }}
            </v-flex>
            <v-flex v-else xs6>
              {{ $t('martyr.doesnotexist') }}
            </v-flex>
          </v-layout>
          <v-divider />
        </v-flex>
        <v-flex xs12>
          <v-layout wrap justify-center>
            <v-flex xs6>
              {{ $t('martyr.deathPlace') }}
            </v-flex>
            <v-flex v-if="martyr.deathPlace" xs6>
              {{ martyr.deathPlace }}
            </v-flex>
            <v-flex v-else xs6>
              {{ $t('martyr.doesnotexist') }}
            </v-flex>
          </v-layout>
          <v-divider />
        </v-flex>
        <v-flex xs12>
          <v-layout wrap justify-center>
            <v-flex xs6>
              {{ $t('martyr.deathday') }}
            </v-flex>
            <v-flex v-if="martyr.deathday" xs6>
              {{ $d(new Date(martyr.deathday), 'short') }}
            </v-flex>
            <v-flex v-else xs6>
              {{ $t('martyr.doesnotexist') }}
            </v-flex>
          </v-layout>
          <v-divider />
        </v-flex>
        <v-flex xs12>
          <v-layout wrap justify-center>
            <v-flex xs6>
              {{ $t('martyr.operation') }}
            </v-flex>
            <v-flex v-if="martyr.operation" xs6>
              <div>{{ martyr.operation.name }}</div>
            </v-flex>
            <v-flex v-else xs6>
              {{ $t('martyr.doesnotexist') }}
            </v-flex>
          </v-layout>
          <v-divider />
        </v-flex>
        <v-flex xs12>
          <v-layout wrap justify-center>
            <v-flex xs6>
              {{ $t('martyr.gravePlace') }}
            </v-flex>
            <v-flex v-if="martyr.gravePlace" xs6>
              {{ martyr.gravePlace }}
            </v-flex>
            <v-flex v-else xs6>
              {{ $t('martyr.doesnotexist') }}
            </v-flex>
          </v-layout>
          <v-divider />
        </v-flex>
        <v-flex xs12>
          <v-layout wrap justify-center>
            <v-flex xs6>
              {{ $t('martyr.book') }}
            </v-flex>
            <v-flex v-if="martyr.book" xs6>
              {{ martyr.book }}
            </v-flex>
            <v-flex v-else xs6>
              {{ $t('martyr.doesnotexist') }}
            </v-flex>
          </v-layout>
          <v-divider />
        </v-flex>
        <v-flex xs12>
          <v-layout wrap justify-center>
            <v-flex xs6>
              {{ $t('martyr.lastUpdate') }}
            </v-flex>
            <v-flex v-if="martyr.updatedAt" xs6>
              {{ $d(new Date(martyr.updatedAt), 'long') }}
            </v-flex>
            <v-flex v-else xs6>
              {{ $t('martyr.doesnotexist') }}
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: {
    martyr: {
      type: Object,
      requierd: true,
      default: () => {}
    }
  }
}
</script>
