<template>
  <v-layout justify-center wrap>
    <v-flex v-for="(advertising, index) in advertisings" :key="index" xs12>
      <v-img
        :src="advertising.imgUrl"
        contain
      />
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  data() {
    return {
      advertisings: [
        {
          id: 1,
          title: 'First amazing event',
          imgUrl: 'https://cdn.vesal.name/images/leader-office.jpg',
          description: 'First one'
        },
        {
          id: 2,
          title: 'Second amazing event',
          imgUrl: 'https://cdn.vesal.name/images/tshirt.jpg',
          description: 'Second one'
        },
        {
          id: 3,
          title: 'First amazing event',
          imgUrl: 'https://cdn.vesal.name/images/kimia.jpg',
          description: 'First one'
        },
        {
          id: 4,
          title: 'First amazing event',
          imgUrl: 'https://cdn.vesal.name/images/app.jpg',
          description: 'First one'
        },
        {
          id: 5,
          title: 'First amazing event',
          imgUrl: 'https://cdn.vesal.name/images/hakoopian.jpg',
          description: 'First one'
        }
      ]
    }
  }
}
</script>
