<template>
  <v-img
    :src="event.imgUrl"
    contain
  />
</template>

<script>
export default {
  data() {
    return {
      event: {
        id: 1,
        title: 'First amazing event',
        imgUrl: 'https://cdn.vesal.name/images/quran.jpg',
        description: 'First one'
      }
    }
  }
}
</script>
