<template>
  <v-carousel>
    <v-carousel-item
      v-for="(item,i) in sliderList"
      :key="i"
      lazy
      :src="item.url"
    />
  </v-carousel>
</template>


<script>
export default {
  data() {
    return {
      sliderList: [
        {
          url: 'https://cdn.vesal.name/images/chamran.jpg'
        },
        {
          url: 'https://cdn.vesal.name/images/ahmad-motavaselian.jpg'
        }
      ]
    }
  }
  // async mounted() {
  // try {
  //   const { data } = await this.$axios.get('/common/slider/4')
  //   this.sliderList = data.sliderPhotos
  // } catch (e) {
  //   console.log(e)
  // }
  // }
}
</script>

<style scoped>
</style>
