<template>
  <v-card
    class="mt-3 mx-auto"
    color="secondary"
  >
    <v-sheet
      class="v-sheet--offset mx-auto text-xs-center"
      color="primary"
      elevation="12"
      max-width="calc(100% - 32px)"
    >
      <v-progress-circular
        v-if="loading"
        indeterminate
        color="white"
        line-width="2"
        padding="16"
      />
      <v-sparkline
        v-else
        auto-draw
        :labels="labels"
        :value="value"
        color="white"
        line-width="2"
        padding="24"
      />
    </v-sheet>

    <v-card-text class="pt-0">
      <div class="title font-weight-light white--text mb-2">
        {{ title }}
      </div>
      <div class="subheading font-weight-light white--text">
        {{ subTitle }}
      </div>
      <v-divider class="my-2" />
      <v-icon
        color="white"
        class="mr-2"
        small
      >
        fa-clock
      </v-icon>
      <span class="caption white--text font-weight-light">
        آخرین ثبت نام ۱۰ دقیقه پیش
      </span>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      requierd: true,
      default: ''
    },
    subTitle: {
      type: String,
      requierd: true,
      default: ''
    },
    loading: {
      type: Boolean,
      requierd: true,
      default: true
    },
    labels: {
      type: Array,
      requierd: true,
      default: () => []
    },
    value: {
      type: Array,
      requierd: true,
      default: () => []
    }
  },
  data() {
    return {}
  }
}
</script>


<style scoped>
.v-progress-circular {
  margin: 1rem;
}
.v-sheet--offset {
  top: -24px;
  position: relative;
}
</style>
