<template>
  <v-card color="accent">
    <v-card-title>
      {{ $t('tag.title') }}
    </v-card-title>
    <v-card-text>
      <v-form v-model="valid">
        <v-text-field
          v-model="tagTxt"
          dir="auto"
          name="Text"
          :label="$t('tag.text')"
          :rules="textRules"
          required
        />
        <v-btn color="secondary" :disabled="!valid" type="submit" @click.stop.prevent="create()">
          {{ $t('tag.submitBtn') }}
        </v-btn>
      </v-form>
    </v-card-text>
  </v-card>
</template>


<script>
export default {
  data() {
    return {
      valid: false,
      tagTxt: '',
      textRules: [v => !!v || this.$t('tag.textRequired')]
    }
  },
  methods: {
    async create() {
      try {
        this.$toast.show(this.$t('tag.createTag'))
        await this.$axios.post('/admin/tag', {
          tagTxt: this.tagTxt
        })
        this.$toast.success(this.$t('tag.createTagSuccessfuly'))
      } catch (e) {
        this.$toast.error(this.$t('tag.createTagFailed'))
      }
    }
  }
}
</script>

<style scoped>
</style>
