<template>
  <v-container>
    <v-layout>
      <v-flex>
        <create-dialog />
        <v-data-table
          dark
          :headers="headers"
          :items="userList"
          class="elevation-1"
        >
          <template v-slot:items="props">
            <td>{{ props.item.username }}</td>
            <td class="text-xs-center">
              {{ props.item.name }}
            </td>
            <td class="text-xs-center">
              {{ props.item.lastName }}
            </td>
            <td class="text-xs-center">
              {{ props.item.email }}
            </td>
            <td class="text-xs-center">
              {{ props.item.credit }}
            </td>
            <td class="text-xs-center">
              {{ props.item.isActive }}
            </td>
            <td class="text-xs-center">
              {{ props.item.typeId }}
            </td>
            <td class="text-xs-center">
              <v-icon
                small
              >
                edit
              </v-icon>
              <v-icon
                small
                class="mr-2"
                @click="deteleUser(props.item.username)"
              >
                delete
              </v-icon>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import createDialog from '~/components/panel/user/create/dialog'
export default {
  layout: 'panel',
  components: {
    createDialog
  },
  data() {
    return {
      loading: false,
      userList: [],
      headers: [
        {
          text: 'نام کاربری',
          align: 'right',
          sortable: true,
          value: 'username'
        },
        { text: 'نام', value: 'name', align: 'center' },
        { text: 'نام خانوادگی', value: 'lastName', align: 'center' },
        { text: 'ایمیل', value: 'email', align: 'center' },
        { text: 'اعتبار', value: 'credit', align: 'center' },
        { text: 'وضعیت', value: 'isActive', align: 'center' },
        { text: 'سطح دسترسی', value: 'typeId', align: 'center' },
        { text: 'عملیات', align: 'center', sortable: false }
      ]
    }
  },
  async asyncData({ app }) {
    try {
      const { data } = await app.$axios.get('/admin/user')
      console.log(data)
      return { userList: data.userList }
    } catch (e) {
      console.log(e)
    }
  },
  fetch({ store, redirect }) {
    if (!store.$auth.loggedIn || store.$auth.user.userType !== 'superAdmin') {
      return redirect('/')
    }
  },
  methods: {
    deteleUser(username) {
      try {
        this.$toasted.show(this.$t('user.deletingUser'))
        this.$axios
          .delete(`/admin/user/${username}`)
          .then(response => {
            this.$toasted.success(this.$t('user.deleteUserSuccessfuly'))
            this.$toasted.show(this.$t('user.fetchingUser'))
            this.loading = true
            this.$axios.get('/admin/user').then(response => {
              this.userList = response.data.userList
              this.loading = false
              this.$toasted.success(this.$t('user.fetchUserSuccessfuly'))
            })
          })
          .catch(e => {
            this.$toasted.error(this.$t('user.deleteUserFailed'))
            console.log(e)
          })
      } catch (e) {
        this.$toasted.error(this.$t('user.deleteUserFailed'))
        console.log(e)
      }
    }
  }
}
</script>
