<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-data-table
          ref="martyrDataTable"
          dark
          :headers="headers"
          :items="martyrList"
          :total-items="226525"
          class="elevation-1"
          @update:pagination="updatePagination"
        >
          <template v-slot:items="props">
            <td class="text-xs-center">
              {{ props.item.name }}
            </td>
            <td class="text-xs-center">
              {{ props.item.lastName }}
            </td>
            <td class="text-xs-center">
              {{ props.item.fatherName }}
            </td>
            <td class="text-xs-center">
              {{ props.item.deathPlace }}
            </td>
            <td class="text-xs-center">
              {{ props.item.operation.name }}
            </td>
            <td class="text-xs-center">
              <v-icon
                small
                @click="$router.push({ path: `/panel/martyr/edit/${props.item.martyrId}` })"
              >
                edit
              </v-icon>
              <v-icon
                small
                class="mr-2"
                @click="deteleMartyr(props.item.martyrId)"
              >
                delete
              </v-icon>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  layout: 'panel',
  data() {
    return {
      loading: false,
      martyrList: [],
      headers: [
        { text: 'نام', value: 'name', align: 'center' },
        { text: 'نام خانوادگی', value: 'desc', align: 'center' },
        { text: 'نام پدر', value: 'fatherName', align: 'center' },
        { text: 'محل شهادت', value: 'deathPlace', align: 'center' },
        { text: 'عملیات شهادت', value: 'operation.name', align: 'center' },
        { text: 'عملیات', align: 'center', sortable: false }
      ]
    }
  },
  async asyncData({ app }) {
    try {
      const { data } = await app.$axios.get('/martyr?limit=5&offset=0')
      console.log(data)
      return { martyrList: data.martyrList }
    } catch (e) {
      console.log(e)
    }
  },
  fetch({ store, redirect }) {
    if (!store.$auth.loggedIn || store.$auth.user.userType !== 'superAdmin') {
      return redirect('/')
    }
  },
  methods: {
    async updatePagination(pagination) {
      await this.$axios
        .get(
          `/martyr?limit=${pagination.rowsPerPage}&offset=${pagination.page -
            1}`
        )
        .then(result => {
          this.martyrList = result.data.martyrList
        })
    },
    deteleMartyr(martyrId) {
      try {
        this.$toasted.show(this.$t('martyr.deletingMartyr'))
        this.$axios.delete(`/martyr/${martyrId}`).then(response => {
          this.$toasted.success(this.$t('martyr.deleteMartyrSuccessfuly'))
          this.$toasted.show(this.$t('martyr.fetchingMartyr'))
          this.loading = true
          this.$axios.get('/martyr').then(response => {
            this.martyrList = response.data.martyrList
            this.loading = false
            this.$toasted.success(this.$t('martyr.fetchMartyrSuccessfuly'))
          })
        })
      } catch (e) {
        this.$toasted.error(this.$t('martyr.deleteMartyrFailed'))
        console.log(e)
      }
    }
  }
}
</script>
