<template>
  <v-layout justify-center>
    <v-flex text-xs-center md6 sm8 xs12>
      <create-martyr-component />
    </v-flex>
  </v-layout>
</template>


<script>
import createMartyrComponent from '~/components/panel/martyr/create/index'
export default {
  layout: 'panel',
  components: {
    createMartyrComponent
  }
}
</script>

<style scoped>
</style>
