<template>
  <v-layout justify-center>
    <v-flex text-xs-center md6 sm8 xs12>
      <create-category-component />
    </v-flex>
  </v-layout>
</template>


<script>
import createCategoryComponent from '~/components/panel/category/create/index'
export default {
  layout: 'panel',
  components: {
    createCategoryComponent
  }
}
</script>

<style scoped>
</style>
