<template>
  <v-container fluid fill-height text-xs-center>
    <v-layout wrap justify-center>
      <v-flex xs12>
        <v-card color="secondary">
          <v-card-title>
            {{ $t('post.title') }}
          </v-card-title>
          <v-card-text>
            <v-form v-model="valid">
              <v-layout wrap justify-center align-center>
                <v-flex xs12>
                  <v-text-field
                    v-model="title"
                    dir="auto"
                    name="title"
                    :label="$t('post.new.title')"
                    :rules="titleRules"
                    required
                  />
                </v-flex>
                <v-flex md4 xs12 class="text-xs-center text-sm-center text-md-center text-lg-center">
                  <v-img v-if="previewPhotoUrl" :src="previewPhotoUrl" height="200px" />
                </v-flex>
                <v-flex md8 xs12 class="text-xs-center text-sm-center text-md-center text-lg-center">
                  <v-text-field
                    v-model="previewPhotoName"
                    prepend-icon="attach_file"
                    name="previewPhoto"
                    :label="$t('post.new.previewPhoto')"
                    @click="previewPhotoPickFile"
                  />
                  <input
                    ref="previewPhoto"
                    type="file"
                    style="display: none"
                    accept="image/*"
                    @change="previewPhotoOnFilePicked"
                  >
                </v-flex>
                <v-flex xs12>
                  <v-textarea
                    v-model="abstract"
                    dir="auto"
                    name="abstract"
                    :label="$t('post.new.abstract')"
                    :rules="abstractRules"
                    required
                  />
                </v-flex>
                <v-flex xs6>
                  <v-select
                    ref="tags"
                    v-model="tags"
                    :items="tagListFiltered"
                    multiple
                    :label="$t('post.new.tags')"
                    :rules="tagsRules"
                    required
                  />
                </v-flex>
                <v-flex xs6>
                  <v-select
                    ref="category"
                    v-model="category"
                    :items="categoryListFiltered"
                    :label="$t('post.new.category')"
                    :rules="categoryRules"
                    required
                  />
                </v-flex>
                <v-flex xs12>
                  <v-tabs
                    grow
                    color="primary"
                    dark
                    icons-and-text
                  >
                    <v-tabs-slider color="red" />

                    <v-tab href="#tab-1">
                      {{ $t('post.new.contentFa') }}
                      <v-icon>fa-file-alt</v-icon>
                    </v-tab>

                    <v-tab href="#tab-2">
                      {{ $t('post.new.contentEn') }}
                      <v-icon>fa-file-alt</v-icon>
                    </v-tab>

                    <v-tab href="#tab-3">
                      {{ $t('post.new.contentAr') }}
                      <v-icon>fa-file-alt</v-icon>
                    </v-tab>

                    <v-tab-item
                      :value="'tab-1'"
                    >
                      <div class="mavonEditor">
                        <no-ssr>
                          <mavon-editor
                            ref="md"
                            v-model="contentFa"
                            :toolbars="markdownOption"
                            :placeholder="placeholderFa"
                            language="en"
                          />
                        </no-ssr>
                      </div>
                    </v-tab-item>

                    <v-tab-item
                      :value="'tab-2'"
                    >
                      <div class="mavonEditor">
                        <no-ssr>
                          <mavon-editor
                            ref="md"
                            v-model="contentEn"
                            :toolbars="markdownOption"
                            :placeholder="placeholderEn"
                            language="en"
                          />
                        </no-ssr>
                      </div>
                    </v-tab-item>

                    <v-tab-item
                      :value="'tab-3'"
                    >
                      <div class="mavonEditor">
                        <no-ssr>
                          <mavon-editor
                            ref="md"
                            v-model="contentAr"
                            :toolbars="markdownOption"
                            :placeholder="placeholderAr"
                            language="en"
                          />
                        </no-ssr>
                      </div>
                    </v-tab-item>
                  </v-tabs>
                </v-flex>
                <v-flex xs12>
                  <v-btn color="primary" :disabled="!valid" type="submit" @click.stop.prevent="create()">
                    {{ $t('post.new.create') }}
                  </v-btn>
                </v-flex>
              </v-layout>
            </v-form>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  layout: 'panel',
  data() {
    return {
      valid: false,
      markdownOption: {
        italic: true,
        header: true,
        underline: true,
        strikethrough: true,
        mark: true,
        superscript: true,
        subscript: true,
        quote: true,
        ol: true,
        ul: true,
        link: true,
        imagelink: true,
        code: true,
        table: true,
        fullscreen: true,
        readmodel: true,
        htmlcode: true,
        help: true,
        undo: true,
        redo: true,
        trash: true,
        save: true,
        navigation: true,
        alignleft: true,
        aligncenter: true,
        alignright: true,
        subfield: true,
        preview: true,
        bold: true
      },
      handbook: '#### how to use mavonEditor in nuxt.js',
      title: '',
      abstract: '',
      previewPhotoName: '',
      previewPhotoUrl: '',
      previewPhotoFile: null,
      tags: [],
      category: '',
      placeholderFa: 'متن خود را اینجا وارد کنید...',
      placeholderEn: 'Enter your text here...',
      placeholderAr: '',
      titleRules: [v => !!v || this.$t('post.new.titleRequired')],
      abstractRules: [v => !!v || this.$t('post.new.abstractRequired')],
      tagsRules: [v => !!v || this.$t('post.new.tagsRequired')],
      categoryRules: [v => !!v || this.$t('post.new.categoryRequired')],
      contentFa: '',
      contentEn: '',
      contentAr: ''
    }
  },
  computed: {
    tagListFiltered() {
      return this.tagList.map(value => {
        return { value: value, text: value.tagTxt }
      })
    },
    categoryListFiltered() {
      return this.categoryList.map(value => {
        return { value: value, text: value.categoryName }
      })
    }
  },
  async asyncData({ app, params }) {
    try {
      let tagList = []
      let categoryList = []
      let post = []
      await app.$axios.get('/admin/tag').then(result => {
        tagList = result.data.tagList
      })
      await app.$axios.get('/admin/category').then(result => {
        categoryList = result.data.categoryList
      })
      await app.$axios.get(`/post?id=${params.id}`).then(response => {
        post = response.data.post
      })

      return { tagList, categoryList, post }
    } catch (e) {
      console.log(e)
    }
  },
  fetch({ store, redirect }) {
    if (!store.$auth.loggedIn || store.$auth.user.userType !== 'superAdmin') {
      return redirect('/')
    }
  },
  mounted() {
    this.title = this.post.title
    this.abstract = this.post.abstract
    this.previewPhotoUrl = this.post.previewPhoto
    this.previewPhotoName = this.post.previewPhoto
    // this.tags = this.post.tagId
    // this.category = this.post.categoryId[0]
    this.contentFa = this.post.contentFa
    this.contentEn = this.post.contentEn
    this.contentAr = this.post.contentAr
  },
  methods: {
    async $imgAdd(pos, $file) {
      const fd = new FormData()
      fd.append('photo', $file)
      fd.append('title', this.title)
      fd.append('categoryId', JSON.stringify(this.category))
      await this.$axios.post('post/photo', fd).then(response => {
        this.$refs.md.$img2Url(pos, response.data.photoInfo.url)
      })
    },
    async create() {
      try {
        this.$toast.show(this.$t('post.new.postCreating'))
        const fd = new FormData()
        fd.append('title', this.title)
        fd.append('abstract', this.abstract)
        fd.append('contentFa', this.contentFa)
        fd.append('contentEn', this.contentEn)
        fd.append('contentAr', this.contentAr)
        fd.append('tagId', JSON.stringify(this.tags))
        fd.append('categoryId', JSON.stringify(this.category))
        fd.append('photo', this.previewPhotoFile)
        await this.$axios.patch(`/post?id=${this.$router.param.id}`, fd)
        this.$toast.success(this.$t('post.new.postCreated'))
      } catch (e) {
        this.$toast.error(this.$t('post.new.postCreatingFailed'))
      }
    },
    previewPhotoPickFile() {
      this.$refs.previewPhoto.click()
    },
    previewPhotoOnFilePicked(e) {
      const files = e.target.files
      if (files[0] !== undefined) {
        this.previewPhotoName = files[0].name
        if (this.previewPhotoName.lastIndexOf('.') <= 0) {
          return
        }
        const fr = new FileReader()
        fr.readAsDataURL(files[0])
        fr.addEventListener('load', () => {
          this.previewPhotoUrl = fr.result
          this.previewPhotoFile = files[0] // this is an image file that can be sent to server...
        })
      } else {
        this.previewPhotoName = ''
        this.previewPhotoUrl = ''
        this.previewPhotoFile = null
      }
    }
  }
}
</script>

<style scoped>
.mavonEditor {
  width: 100%;
  height: 100%;
}
.v-note-wrapper {
  z-index: 0;
}
</style>
