<template>
  <v-container fluid grid-list-md>
    <v-layout justify-center wrap>
      <v-flex xs12>
        <v-img
          src="https://cdn.vesal.name/images/vesal-name-logo.png"
          :alt="$t('auth.confirmEmail.logoAlt')"
          height="100px"
          contain
        />
      </v-flex>
      <v-flex text-xs-center xs4>
        <v-card color="primary">
          <v-card-text>
            <v-alert
              v-if="status === 2"
              class="mb-3"
              :value="true"
              type="info"
            >
              {{ $t('auth.confirmEmail.confirming') }}
            </v-alert>
            <v-alert
              v-else-if="status === 1"
              class="mb-3"
              :value="true"
              type="success"
            >
              {{ $t('auth.confirmEmail.confirmationSuccessful') }}
            </v-alert>

            <v-alert
              v-else
              class="mb-3"
              :value="true"
              type="error"
            >
              {{ $t('auth.confirmEmail.confirmationFailed') }}
            </v-alert>
            <div class="circle-loader" :class="{'load-complete': status === 1, 'load-error': status === 0}">
              <div :class="{'checkmark': status !== 2, 'draw': status === 1, 'draw-error': status === 0}" />
            </div>
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn to="/" color="secondary">
              {{ $t('auth.confirmEmail.backToHomeBtn') }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>


<script>
export default {
  head() {
    return {
      title: 'صحت سنجی'
    }
  },
  data() {
    return {
      status: 2
    }
  },
  async mounted() {
    try {
      const { data } = await this.$axios.post('/user/verification', {
        verificationCode: this.$route.params.uuid
      })
      setTimeout(() => {
        this.status = data.result[0]
      }, 2000)
    } catch (e) {
      console.log(e)
    }
  }
}
</script>

<style scoped>
.circle-loader {
  margin: 0 0 30px 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-left-color: #244724;
  animation-name: loader-spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-sizing: content-box;
}
.circle-loader,
.circle-loader:after {
  border-radius: 50%;
  width: 8em;
  height: 8em;
}
.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: #5cb85c;
  transition: border 500ms ease-out;
}
.load-error {
  -webkit-animation: none;
  animation: none;
  border-color: red;
  transition: border 500ms ease-out;
}
.checkmark {
  display: block;
  box-sizing: content-box;
}
.checkmark.draw:after {
  opacity: 1;
  height: 4em;
  width: 2em;
  transform-origin: left top;
  border-right: 2px solid #5cb85c;
  border-top: 2px solid #5cb85c;
  content: '';
  left: 2em;
  top: 4em;
  position: absolute;
  animation-duration: 1.2s;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}
.checkmark.draw-error {
  position: absolute;
  left: 2em;
  top: 2em;
  width: 4em;
  height: 4em;
  transition: 0.5s ease-in-out;
}
.checkmark.draw-error:before,
.checkmark.draw-error:after {
  position: absolute;
  content: ' ';
  height: 4em;
  width: 2px;
  background-color: #f00;
}
.checkmark.draw-error:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkmark.draw-error:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 2em;
    opacity: 1;
  }
  40% {
    height: 4em;
    width: 2em;
    opacity: 1;
  }
  100% {
    height: 4em;
    width: 2em;
    opacity: 1;
  }
}
</style>
