<template>
  <v-layout justify-center>
    <v-flex text-xs-center md6 sm8 xs12>
      <v-card color="accent">
        <v-card-title>
          {{ $t('martyr.title') }}
        </v-card-title>
        <v-card-text>
          <v-form v-model="valid">
            <v-container fluid grid-list-xs>
              <v-layout justify-center wrap>
                <v-flex xs4>
                  <v-text-field
                    v-model="name"
                    dir="auto"
                    name="Name"
                    :label="$t('martyr.name')"
                  />
                </v-flex>
                <v-flex xs4>
                  <v-text-field
                    v-model="lastName"
                    dir="auto"
                    name="LastName"
                    :label="$t('martyr.lastName')"
                  />
                </v-flex>
                <v-flex xs4>
                  <v-text-field
                    v-model="fatherName"
                    dir="auto"
                    name="FatherName"
                    :label="$t('martyr.fatherName')"
                  />
                </v-flex>
                <v-flex xs6>
                  <v-text-field
                    v-model="birthPlace"
                    dir="auto"
                    name="BirthPlace"
                    :label="$t('martyr.birthPlace')"
                  />
                </v-flex>
                <v-flex xs6>
                  <v-menu
                    ref="birthdayDataPickerMenu"
                    v-model="birthdayDataPickerMenu"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="birthdayTranslated"
                        :label="$t('martyr.birthday')"
                        readonly
                        v-on="on"
                      />
                    </template>
                    <v-date-picker
                      ref="birthdayDatePicker"
                      v-model="birthday"
                      :max="new Date().toISOString().substr(0, 10)"
                      min="1950-01-01"
                      locale="fa"
                      first-day-of-week="6"
                      @change="birthdayDataPickerSave"
                    />
                  </v-menu>
                </v-flex>
                <v-flex xs6>
                  <v-text-field
                    v-model="deathPlace"
                    dir="auto"
                    name="DeathPlace"
                    :label="$t('martyr.deathPlace')"
                  />
                </v-flex>
                <v-flex xs6>
                  <v-menu
                    ref="deathdayDataPickerMenu"
                    v-model="deathdayDataPickerMenu"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="deathdayTranslated"
                        :label="$t('martyr.deathday')"
                        readonly
                        v-on="on"
                      />
                    </template>
                    <v-date-picker
                      ref="deathdayDatePicker"
                      v-model="deathday"
                      :max="new Date().toISOString().substr(0, 10)"
                      min="1950-01-01"
                      locale="fa"
                      first-day-of-week="6"
                      @change="deathdayDataPickerSave"
                    />
                  </v-menu>
                </v-flex>
                <v-flex xs6>
                  <v-text-field
                    v-model="gravePlace"
                    dir="auto"
                    name="GravePlace" 
                    :label="$t('martyr.gravePlace')"
                  />
                </v-flex>
                <v-flex xs6>
                  <v-text-field
                    v-model="book"
                    dir="auto"
                    name="Book" 
                    :label="$t('martyr.book')"
                  />
                </v-flex>
                <v-flex xs12>
                  <v-select
                    v-model="operation"
                    :items="operationFilteredList"
                    dir="auto"
                    name="Operation" 
                    :label="$t('martyr.operation')"
                  />
                </v-flex>
                <v-flex md4 xs12 class="text-xs-center text-sm-center text-md-center text-lg-center">
                  <v-img v-if="photoUrl" :src="photoUrl" height="200px" />
                </v-flex>
                <v-flex md8 xs12 class="text-xs-center text-sm-center text-md-center text-lg-center">
                  <v-text-field
                    v-model="photoName"
                    prepend-icon="attach_file"
                    name="photo"
                    :label="$t('martyr.photo')"
                    @click="photoPickFile"
                  />
                  <input
                    ref="photo"
                    type="file"
                    style="display: none"
                    accept="image/*"
                    @change="photoOnFilePicked"
                  >
                </v-flex>
                <v-flex xs12>
                  <v-textarea
                    v-model="bio"
                    dir="auto"
                    name="Bio" 
                    :label="$t('martyr.bio')"
                  />
                </v-flex>
                <v-flex xs12>
                  <v-textarea
                    v-model="will"
                    dir="auto"
                    name="Will" 
                    :label="$t('martyr.will')"
                  />
                </v-flex>
                <v-flex xs12>
                  <v-btn
                    color="secondary"
                    :disabled="!valid"
                    type="submit"
                    @click.stop.prevent="create()"
                  >
                    {{ $t('martyr.editBtn') }}
                  </v-btn>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>


<script>
export default {
  layout: 'panel',
  data() {
    return {
      valid: false,
      name: '',
      lastName: '',
      fatherName: '',
      birthday: null,
      birthdayDataPickerMenu: false,
      deathday: null,
      deathdayDataPickerMenu: false,
      birthPlace: '',
      deathPlace: '',
      gravePlace: '',
      book: '',
      bio: '',
      will: '',
      operation: '',
      photoName: '',
      photoUrl: '',
      photoFile: null,
      operationList: []
    }
  },
  computed: {
    birthdayTranslated() {
      if (this.birthday) {
        return this.$d(new Date(this.birthday), 'short')
      } else {
        return this.$d(new Date(), 'short')
      }
    },
    deathdayTranslated() {
      if (this.deathday) {
        return this.$d(new Date(this.deathday), 'short')
      } else {
        return this.$d(new Date(), 'short')
      }
    },
    operationFilteredList() {
      return this.operationList.map(value => {
        return { value: value.operationId, text: value.name }
      })
    }
  },
  watch: {
    birthdayDataPickerMenu(val) {
      val &&
        setTimeout(() => (this.$refs.birthdayDatePicker.activePicker = 'YEAR'))
    },
    deathdayDataPickerMenu(val) {
      val &&
        setTimeout(() => (this.$refs.deathdayDatePicker.activePicker = 'YEAR'))
    }
  },
  async asyncData({ app, params }) {
    try {
      let martyr = null
      const { data } = await app.$axios.get('/operation')
      await app.$axios.get(`/martyr?martyrId=${params.id}`).then(result => {
        martyr = result.data.martyrList[0]
      })
      return { martyr: martyr, operationList: data.operationList }
    } catch (e) {
      console.log(e)
    }
  },
  beforeMount() {
    this.name = this.martyr.name
    this.lastName = this.martyr.lastName
    this.fatherName = this.martyr.fatherName
    this.birthday = this.martyr.birthday
    this.deathday = this.martyr.deathday
    this.birthPlace = this.martyr.birthPlace
    this.deathPlace = this.martyr.deathPlace
    this.gravePlace = this.martyr.gravePlace
    this.book = this.martyr.book
    this.bio = this.martyr.bio
    this.will = this.martyr.will
    this.operationList.forEach(operation => {
      if (operation.id === this.martyr.operation.id) {
        this.operation = operation
      }
    })
    this.photoUrl = this.martyr.photo
  },
  methods: {
    birthdayDataPickerSave(birthday) {
      this.$refs.birthdayDataPickerMenu.save(birthday)
    },
    deathdayDataPickerSave(deathday) {
      this.$refs.deathdayDataPickerMenu.save(deathday)
    },
    async create() {
      try {
        this.$toast.show(this.$t('martyr.createMartyr'))
        const fd = new FormData()
        fd.append('name', this.name)
        fd.append('lastName', this.lastName)
        fd.append('fatherName', this.fatherName)
        if (this.birthday) {
          fd.append('birthday', this.birthday)
        } else {
          fd.append('birthday', new Date().toISOString().substr(0, 10))
        }
        fd.append('birthPlace', this.birthPlace)
        if (this.deathday) {
          fd.append('deathday', this.deathday)
        } else {
          fd.append('deathday', new Date().toISOString().substr(0, 10))
        }
        fd.append('deathPlace', this.deathPlace)
        fd.append('gravePlace', this.gravePlace)
        fd.append('book', this.book)
        fd.append('bio', this.bio)
        fd.append('will', this.will)
        fd.append('photo', this.photoFile)
        fd.append('deathOperationId', this.operation)
        await this.$axios.patch(`/martyr/${this.$route.params.id}`, fd)
        this.$toast.success(this.$t('martyr.createMartyrSuccessfuly'))
      } catch (e) {
        this.$toast.error(this.$t('martyr.createMartyrFailed'))
      }
    },
    photoPickFile() {
      this.$refs.photo.click()
    },
    photoOnFilePicked(e) {
      const files = e.target.files
      if (files[0] !== undefined) {
        this.photoName = files[0].name
        if (this.photoName.lastIndexOf('.') <= 0) {
          return
        }
        const fr = new FileReader()
        fr.readAsDataURL(files[0])
        fr.addEventListener('load', () => {
          this.photoUrl = fr.result
          this.photoFile = files[0] // this is an image file that can be sent to server...
        })
      } else {
        this.photoName = ''
        this.photoUrl = ''
        this.photoFile = null
      }
    }
  }
}
</script>

<style scoped>
</style>
