<template>
  <v-container fluid grid-list-md>
    <v-layout wrap justify-center>
      <v-flex md8 xs12>
        <v-card color="primary">
          <v-card-text>
            <v-layout wrap justify-center align-center>
              <v-flex md5 xs12>
                <span class="display-2">
                  {{ post.title }}
                </span>
                <br>
                <span>
                  تاریخ ایجاد نوشته:
                  <strong>
                    {{ $d(new Date(post.createdAt), 'short') }}
                  </strong>
                </span>
                <br>
                <span v-if="post.publishDate">
                  تاریخ انتشار نوشته:
                  <strong>
                    {{ $d(new Date(post.publishDate), 'short') }}
                  </strong>
                </span>
                <span v-else>
                  تاریخ انتشار نوشته:
                  <strong>
                    منتشر نشده
                  </strong>
                </span>
                <br>
                <span>
                  دسته بندی:
                  <strong>
                    {{ JSON.parse(post.categoryId[0]).categoryName }}
                  </strong>
                </span>
                <br>
                <span v-for="tag in JSON.parse(post.tagId[0])" :key="tag._id">
                  #{{ tag.tagTxt }}
                </span>
              </v-flex>
              <v-flex md7 xs12>
                <v-img :src="post.previewPhoto" contain max-height="400" />
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-text>
            <!-- <span v-html="post.contentFa" /> -->
            <vue-markdown v-if="$i18n.locale === 'fa'" :source="post.contentFa" />
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex md4 xs12>
        <advertising />
      </v-flex>
      <v-flex xs12>
        <v-card flat>
          <v-card-title primary-title class="headline">
            {{ $t('home.relatedLinks.title') }}
          </v-card-title>
          <v-card-text>
            <v-layout wrap justify-center>
              <v-flex
                v-for="(post, index) in postList"
                :key="index"
                d-inline-flex
                md4
                sm6
                xs12
              >
                <post
                  :post-id="post._id"
                  :title="post.title"
                  :publish-date="post.publishDate"
                  :img-url="post.previewPhoto"
                  :categories="post.categoryId"
                  :description="post.abstract"
                />
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import advertising from '~/components/home/advertising'
import post from '~/components/post/post'
export default {
  components: {
    advertising,
    post
  },
  head() {
    return {
      title: this.post.title
    }
  },
  data() {
    return {}
  },
  async asyncData({ app, params }) {
    try {
      let post = []
      let postList = []
      await app.$axios.get(`/post?id=${params.id}`).then(response => {
        post = response.data.post
      })
      await app.$axios.get('/post').then(response => {
        postList = response.data.postList
      })
      return { post, postList }
    } catch (e) {
      console.log(e)
    }
  }
}
</script>

<style scoped>
.break-word {
  overflow-wrap: break-word;
}
</style>
