<template>
  <v-app>
    <the-header />
    <v-content>
      <nuxt />
    </v-content>
    <the-footer />
  </v-app>
</template>

<script>
import TheHeader from '~/components/headers/TheHeader'
import TheFooter from '~/components/footers/TheFooter'

export default {
  components: {
    TheHeader,
    TheFooter
  }
}
</script>

<style>
.application {
  font-family: 'Vazir';
}
</style>
