<template>
  <v-app>
    <the-header :drawer="drawer" :mini-variant="miniVariant" />
    <the-side-menu :drawer="drawer" :mini-variant="miniVariant" />
    <v-content>
      <v-container fluid grid-list-lg>
        <nuxt />
      </v-container>
    </v-content>
    <the-footer />
  </v-app>
</template>

<script>
import TheHeader from '~/components/headers/panel/TheHeader'
import TheSideMenu from '~/components/sideMenu/panel/TheSideMenu'
import TheFooter from '~/components/footers/panel/TheFooter'

export default {
  components: {
    TheHeader,
    TheSideMenu,
    TheFooter
  },
  data() {
    return {
      drawer: true,
      miniVariant: true
    }
  },
  computed: {
    drawerState() {
      return this.drawer
    },
    miniVariantState() {
      return this.miniVariant
    }
  },
  created() {
    this.$nuxt.$on('updateDrawer', drawer => {
      this.drawer = drawer
    })
    this.$nuxt.$on('updateMiniVariant', miniVariant => {
      this.miniVariant = miniVariant
    })
  }
}
</script>

<style>
</style>
