<template>
  <v-container fluid fill-height grid-list-md>
    <v-layout wrap justify-center>
      <v-flex xs12 md2>
        <related-links />
      </v-flex>
      <v-flex xs12 md8>
        <v-layout wrap justify-center>
          <v-flex xs12>
            <martyr-day />
          </v-flex>
          <v-flex xs12>
            <event />
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex xs12 md2>
        <advertising />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import relatedLinks from '~/components/home/relatedLinks'
import martyrDay from '~/components/home/martyrOfDay'
import event from '~/components/home/event'
import advertising from '~/components/home/advertising'
export default {
  components: {
    martyrDay,
    relatedLinks,
    event,
    advertising
  },
  head() {
    return {
      title: 'وصال نامه'
    }
  },
  data() {
    return {}
  }
}
</script>

<style>
.toasted {
  direction: rtl;
}
</style>
