<template>
  <v-dialog v-model="dialog" max-width="500px">
    <template v-slot:activator="{ on }">
      <v-btn color="secondary" dark class="mb-2" v-on="on">
        {{ $t('user.title') }}
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">
          افزودن کاربر جدید
        </span>
      </v-card-title>

      <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap>
            <v-flex xs6>
              <v-text-field v-model="username" :label="$t('user.username')" />
            </v-flex>
            <v-flex xs6>
              <v-text-field v-model="email" :label="$t('user.email')" />
            </v-flex>
            <v-flex xs12>
              <v-text-field v-model="password" :label="$t('user.password')" />
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn color="blue darken-1" flat @click="create">
          {{ $t('user.submitBtn') }}
        </v-btn>
        <v-btn color="red darken-1" flat @click="close">
          {{ $t('user.cancelBtn') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    username: '',
    password: '',
    email: ''
  }),
  watch: {
    dialog(val) {
      val || this.close()
    }
  },
  methods: {
    async create() {
      try {
        this.$toast.show(this.$t('user.createUser'))
        await this.$axios.post('/admin/user', {
          username: this.username,
          password: this.password,
          email: this.email
        })
        this.$toast.success(this.$t('user.createUserSuccessfuly'))
        this.username = ''
        this.password = ''
        this.email = ''
        this.dialog = false
      } catch (e) {
        this.$toast.error(this.$t('user.createUserFailed'))
      }
    },
    close() {
      this.username = ''
      this.password = ''
      this.email = ''
      this.dialog = false
    }
  }
}
</script>
