<template>
  <v-card color="accent">
    <v-card-title>
      {{ $t('user.title') }}
    </v-card-title>
    <v-card-text>
      <v-form v-model="valid">
        <v-container fluid grid-list-xs>
          <v-layout wrap justify-center>
            <v-flex xs6>
              <v-text-field
                v-model="username"
                dir="auto"
                name="username"
                :label="$t('user.username')"
                :rules="usernameRules"
                required
              />
            </v-flex>
            <v-flex xs6>
              <v-text-field
                v-model="password"
                dir="auto"
                name="password" 
                :label="$t('user.password')"
                :rules="passwordRules"
                required
              />
            </v-flex>
            <v-flex xs6>
              <v-text-field
                v-model="email"
                dir="auto"
                name="email" 
                :label="$t('user.email')"
                :rules="emailRules"
                required
              />
            </v-flex>
            <v-flex xs6>
              <v-text-field
                v-model="name"
                dir="auto"
                name="name" 
                :label="$t('user.name')"
                :rules="nameRules"
              />
            </v-flex>
            <v-flex xs6>
              <v-text-field
                v-model="lastName"
                dir="auto"
                name="lastName" 
                :label="$t('user.lastName')"
                :rules="lastNameRules"
              />
            </v-flex>
            <v-flex xs6>
              <v-text-field
                v-model="fatherName"
                dir="auto"
                name="fatherName" 
                :label="$t('user.fatherName')"
                :rules="fatherNameRules"
              />
            </v-flex>
            <v-flex xs6>
              <v-menu
                ref="birthdayDataPickerMenu"
                v-model="birthdayDataPickerMenu"
                :close-on-content-click="false"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="birthdayTranslated"
                    :label="$t('martyr.birthday')"
                    prepend-icon="event"
                    readonly
                    v-on="on"
                  />
                </template>
                <v-date-picker
                  ref="birthdayDatePicker"
                  v-model="birthday"
                  :max="new Date().toISOString().substr(0, 10)"
                  min="1950-01-01"
                  locale="fa"
                  first-day-of-week="6"
                  @change="birthdayDataPickerSave"
                />
              </v-menu>
            </v-flex>
            <v-flex xs6>
              <v-text-field
                v-model="mobile"
                dir="auto"
                name="mobile" 
                :label="$t('user.mobile')"
                :rules="mobileRules"
              />
            </v-flex>
            <v-flex xs6>
              <v-text-field
                v-model="phone"
                dir="auto"
                name="phone" 
                :label="$t('user.phone')"
                :rules="phoneRules"
              />
            </v-flex>
            <v-flex xs6>
              <v-text-field
                v-model="countryPre"
                dir="auto"
                name="countryPre" 
                :label="$t('user.countryPre')"
                :rules="countryPreRules"
              />
            </v-flex>
            <v-flex xs6>
              <v-text-field
                v-model="cityPre"
                dir="auto"
                name="cityPre" 
                :label="$t('user.cityPre')"
                :rules="cityPreRules"
              />
            </v-flex>
            <v-flex xs6>
              <v-text-field
                v-model="postalCode"
                dir="auto"
                name="postalCode" 
                :label="$t('user.postalCode')"
                :rules="postalCodeRules"
              />
            </v-flex>
            <v-flex xs6>
              <v-text-field
                v-model="address"
                dir="auto"
                name="address" 
                :label="$t('user.address')"
                :rules="addressRules"
              />
            </v-flex>
            <v-flex xs6>
              <v-text-field
                v-model="telegram"
                dir="auto"
                name="telegram" 
                :label="$t('user.telegram')"
                :rules="telegramRules"
              />
            </v-flex>
            <v-flex xs6>
              <v-text-field
                v-model="bale"
                dir="auto"
                name="bale" 
                :label="$t('user.bale')"
                :rules="baleRules"
              />
            </v-flex>
            <v-flex xs6>
              <v-text-field
                v-model="instagram"
                dir="auto"
                name="instagram" 
                :label="$t('user.instagram')"
                :rules="instagramRules"
              />
            </v-flex>
            <v-flex xs6>
              <v-text-field
                v-model="whatsapp"
                dir="auto"
                name="whatsapp" 
                :label="$t('user.whatsapp')"
                :rules="whatsappRules"
                required
              />
            </v-flex>
            <v-flex xs12>
              <v-btn color="secondary" :disabled="!valid" type="submit" @click.stop.prevent="create()">
                {{ $t('user.submitBtn') }}
              </v-btn>
            </v-flex>
          </v-layout>
        </v-container>
      </v-form>
    </v-card-text>
  </v-card>
</template>


<script>
export default {
  data() {
    return {
      valid: false,
      username: '',
      password: '',
      name: '',
      lastName: '',
      email: '',
      fatherName: '',
      birthday: null,
      birthdayDataPickerMenu: false,
      mobile: '',
      phone: '',
      countryPre: '',
      cityPre: '',
      postalCode: '',
      address: '',
      telegram: '',
      bale: '',
      instagram: '',
      whatsapp: '',
      usernameRules: [v => !!v || this.$t('user.usernameRequired')],
      passwordRules: [v => !!v || this.$t('user.passwordRequired')],
      nameRules: [v => !!v || this.$t('user.nameRequired')],
      lastNameRules: [v => !!v || this.$t('user.lastNameRequired')],
      emailRules: [v => !!v || this.$t('user.emailRequired')],
      fatherNameRules: [v => !!v || this.$t('user.fatherNameRequired')],
      birthdayRules: [v => !!v || this.$t('user.birthdayRequired')],
      mobileRules: [v => !!v || this.$t('user.mobileRequired')],
      phoneRules: [v => !!v || this.$t('user.phoneRequired')],
      countryPreRules: [v => !!v || this.$t('user.countryPreRequired')],
      cityPreRules: [v => !!v || this.$t('user.cityPreRequired')],
      postalCodeRules: [v => !!v || this.$t('user.postalCodeRequired')],
      addressRules: [v => !!v || this.$t('user.addressRequired')],
      telegramRules: [v => !!v || this.$t('user.telegramRequired')],
      baleRules: [v => !!v || this.$t('user.baleRequired')],
      instagramRules: [v => !!v || this.$t('user.instagramRequired')],
      whatsappRules: [v => !!v || this.$t('user.whatsappRequired')]
    }
  },
  computed: {
    birthdayTranslated() {
      if (this.birthday) {
        return this.$d(new Date(this.birthday), 'short')
      } else {
        return this.$d(new Date(), 'short')
      }
    }
  },
  watch: {
    birthdayDataPickerMenu(val) {
      val &&
        setTimeout(() => (this.$refs.birthdayDatePicker.activePicker = 'YEAR'))
    }
  },
  methods: {
    birthdayDataPickerSave(birthday) {
      this.$refs.birthdayDataPickerMenu.save(birthday)
    },
    async create() {
      try {
        this.$toast.show(this.$t('user.createUser'))
        await this.$axios.post('/admin/user', {
          username: this.username,
          password: this.password,
          name: this.name,
          lastName: this.lastName,
          email: this.email,
          fatherName: this.fatherName,
          birthday: this.birthday,
          mobile: this.mobile,
          phone: this.phone,
          countryPre: this.countryPre,
          cityPre: this.cityPre,
          postalCode: this.postalCode,
          address: this.address,
          telegram: this.telegram,
          bale: this.bale,
          instagram: this.instagram,
          whatsapp: this.whatsapp
        })
        this.$toast.success(this.$t('user.createUserSuccessfuly'))
      } catch (e) {
        this.$toast.error(this.$t('user.createUserFailed'))
      }
    }
  }
}
</script>

<style scoped>
</style>
