<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-data-table
          dark
          :headers="headers"
          :loading="loading"
          :items="serviceList"
          class="elevation-1"
        >
          <template v-slot:items="props">
            <td class="text-xs-center">
              {{ props.item.name }}
            </td>
            <td class="text-xs-center">
              {{ $n(props.item.price) }} {{ $t('service.currency') }}
            </td>
            <td class="text-xs-center">
              {{ $d(new Date(props.item.timeRange), 'short') }}
            </td>
            <td class="text-xs-center">
              {{ props.item.desc }}
            </td>
            <td class="text-xs-center">
              <v-icon v-if="props.item.publish" color="success">
                done
              </v-icon>
              <v-icon v-else color="error">
                close
              </v-icon>
            </td>
            <td class="text-xs-center">
              <v-icon
                small
                class="mr-2"
                @click="deteleService(props.item.serviceId)"
              >
                delete
              </v-icon>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  layout: 'panel',
  data() {
    return {
      loading: false,
      headers: [
        { text: 'متن', align: 'center', value: 'name' },
        { text: 'قیمت', align: 'center', value: 'price' },
        { text: 'دوره زمانی', align: 'center', value: 'timeRange' },
        { text: 'توضیحات', align: 'center', value: 'desc' },
        { text: 'منتشر شده', align: 'center', value: 'published' },
        { text: 'عملیات', align: 'center', sortable: false }
      ]
    }
  },
  async asyncData({ app }) {
    try {
      const { data } = await app.$axios.get('/admin/service')
      console.log(data)
      return { serviceList: data.serviceList }
    } catch (e) {
      console.log(e)
    }
  },
  fetch({ store, redirect }) {
    if (!store.$auth.loggedIn || store.$auth.user.userType !== 'superAdmin') {
      return redirect('/')
    }
  },
  methods: {
    async deteleService(serviceId) {
      try {
        this.$toasted.show(this.$t('service.deletingService'))
        await this.$axios.delete(`/admin/service/${serviceId}`).then(() => {
          this.$toasted.success(this.$t('service.deleteServiceSuccessfuly'))
          this.$toasted.show(this.$t('service.fetchingService'))
          this.loading = true
        })
        await this.$axios.get('/admin/service').then(result => {
          this.serviceList = result.data.serviceList
          this.loading = false
          this.$toasted.success(this.$t('service.fetchServiceSuccessfuly'))
        })
      } catch (e) {
        this.$toasted.error(this.$t('service.deleteServiceFailed'))
        console.log(e)
      }
    }
  }
}
</script>
