<template>
  <v-card color="primary">
    <v-img :src="imgUrl" contain max-height="200" :alt="title" />
    <v-card-text class="text-xs-center">
      <v-layout wrap justify-center>
        <v-flex xs12 class="mb-4">
          <div class="title">
            {{ title }}
          </div>
        </v-flex>
        <v-flex xs6>
          <span v-if="publishDate">
            تاریخ انتشار: {{ $d(new Date(publishDate), 'short') }}
          </span>
          <span v-else>
            منتشر نشده
          </span>
        </v-flex>
        <v-flex xs6>
          دسته‌بندی: 
          <span v-for="category in categories" :key="category._id">
            {{ JSON.parse(category).categoryName }}
          </span>
        </v-flex>
        <v-flex xs12>
          <div class="description">
            {{ description }}
          </div>
        </v-flex>
      </v-layout>
    </v-card-text>
    <v-card-actions>
      <v-btn flat color="purple" :to="'post/'+postId">
        {{ $t('post.read') }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: {
    postId: {
      type: String,
      requierd: true,
      default: ''
    },
    title: {
      type: String,
      requierd: true,
      default: 'بدون عنوان'
    },
    imgUrl: {
      type: String,
      requierd: true,
      default: null
    },
    description: {
      type: String,
      requierd: true,
      default: 'توضیحات در ادامه مطلب'
    },
    categories: {
      type: Array,
      requierd: true,
      default: () => {
        return [
          {
            _id: 'abcd1234',
            categoryName: 'وصیت‌نامه',
            desc: 'وصیت‌نامه'
          }
        ]
      }
    },
    publishDate: {
      type: String,
      requierd: true,
      default: 'Now'
    }
  },
  data() {
    return {
      show: false
    }
  }
}
</script>

<style scoped>
.break-word {
  overflow-wrap: break-word;
}
.description {
  display: block;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
</style>
