<template>
  <v-layout wrap class="text-xs-center">
    <v-flex xs12>
      <v-card color="primary">
        <v-card-text primary-title class="headline">
          {{ $t('home.relatedLinks.title') }}
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex xs12>
      <v-card v-if="postList.length > 0">
        <v-list class="primary justify-center">
          <v-list-tile
            v-for="post in postList"
            :key="post._id"
            :to="`/post/${post._id}`"
          >
            <v-list-tile-content>
              <v-list-tile-title v-text="post.title" />
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-card>
      <v-card v-else color="primary">
        <v-card-text>
          اخیرا نوشته‌ای ایجاد نشده است.
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  data() {
    return {
      postList: []
    }
  },
  mounted() {
    try {
      this.$axios.get('/post').then(response => {
        this.postList = response.data.postList
      })
    } catch (e) {
      console.log(e)
    }
  }
}
</script>
