<template>
  <validation-observer ref="loginObs">
    <v-card slot-scope="{ invalid, validated }" color="secondary">
      <v-card-title>
        {{ $t('service.title') }}
      </v-card-title>
      <v-card-text>
        <v-form>
          <v-layout wrap justify-center>
            <v-flex md6 xs12>
              <validation-provider
                rules="required"
                name="name"
              >
                <v-text-field
                  v-model="name"
                  slot-scope="{
                    errors,
                    valid
                  }"
                  :error-messages="errors"
                  :success="valid"
                  name="name"
                  :label="$t('service.name')"
                  :placeholder="$t('service.name')"
                  required
                />
              </validation-provider>
            </v-flex>
            <v-flex md6 xs12>
              <validation-provider
                rules="required|numeric"
                name="price"
              >
                <v-text-field
                  v-model="price"
                  slot-scope="{
                    errors,
                    valid
                  }"
                  :error-messages="errors"
                  :success="valid"
                  dir="ltr"
                  name="price"
                  :label="$t('service.price')"
                  :placeholder="$t('service.currency')"
                  required
                />
              </validation-provider>
            </v-flex>
            <v-flex xs12>
              <validation-provider
                rules="required"
                name="desc"
              >
                <v-textarea
                  v-model="desc"
                  slot-scope="{
                    errors,
                    valid
                  }"
                  :error-messages="errors"
                  :success="valid"
                  name="desc"
                  :label="$t('service.desc')"
                  :placeholder="$t('service.desc')"
                />
              </validation-provider>
            </v-flex>
            <v-flex md6 xs12>
              <v-menu
                ref="timeRangeDatePicker"
                v-model="timeRangeDatePicker"
                :close-on-content-click="false"
                :nudge-right="40"
                :return-value.sync="timeRange"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="timeRangeTranslated"
                    :label="$t('service.timeRange')"
                    :placeholder="$t('service.timeRange')"
                    prepend-icon="event"
                    readonly
                    v-on="on"
                  />
                </template>
                <v-date-picker v-model="timeRange" locale="fa" first-day-of-week="6" no-title scrollable>
                  <v-spacer />
                  <v-btn flat color="secondary" @click="$refs.timeRangeDatePicker.save(timeRange)">
                    {{ $t('service.okBtn') }}
                  </v-btn>
                  <v-btn flat color="red" @click="timeRangeDatePicker = false">
                    {{ $t('service.cancelBtn') }}
                  </v-btn>
                </v-date-picker>
              </v-menu>
            </v-flex>
            <v-flex xs2>
              <v-checkbox
                v-model="published"
                name="published"
                color="primary"
                :label="$t('service.published')"
              />
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-flex xs12>
          <v-btn color="secondary" :disabled="invalid || !validated" type="submit" @click.stop.prevent="create()">
            {{ $t('service.submitBtn') }}
          </v-btn>
        </v-flex>
      </v-card-actions>
    </v-card>
  </validation-observer>
</template>


<script>
export default {
  data() {
    return {
      name: '',
      price: '',
      timeRange: new Date().toISOString().substr(0, 10),
      timeRangeDatePicker: false,
      desc: '',
      published: false
    }
  },
  computed: {
    timeRangeTranslated() {
      if (this.timeRange) {
        return this.$d(new Date(this.timeRange), 'short')
      } else {
        return this.$d(new Date(), 'short')
      }
    }
  },
  methods: {
    async create() {
      try {
        this.$toast.show(this.$t('service.createService'))
        await this.$axios.post('/admin/service', {
          name: this.name,
          price: this.price,
          timeRange: this.timeRange,
          desc: this.desc,
          published: this.published
        })
        this.$toast.success(this.$t('service.createServiceSuccessfuly'))
      } catch (e) {
        this.$toast.error(this.$t('service.createServiceFailed'))
      }
    }
  }
}
</script>

<style scoped>
</style>
