<template>
  <v-card flat color="primary">
    <v-card-text>
      <v-layout wrap justify-center align-center>
        <v-flex xs12>
          <v-layout wrap justify-center align-center>
            <v-flex xs6>
              {{ $t('user.profile.email') }}
            </v-flex>
            <v-flex v-if="user.email" xs6>
              <span dir="auto">{{ user.email }}</span>
            </v-flex>
            <v-flex v-else xs6>
              {{ $t('user.profile.doesnotexist') }}
            </v-flex>
          </v-layout>
          <v-divider />
        </v-flex>
        <v-flex xs12>
          <v-layout wrap justify-center align-center>
            <v-flex xs6>
              {{ $t('user.profile.mobile') }}
            </v-flex>
            <v-flex v-if="user.mobile" xs6>
              {{ user.mobile }} - <span dir="ltr">
                {{ user.countryPre }}
              </span>
            </v-flex>
            <v-flex v-else xs6>
              {{ $t('user.profile.doesnotexist') }}
            </v-flex>
          </v-layout>
          <v-divider />
        </v-flex>
        <v-flex xs12>
          <v-layout wrap justify-center align-center>
            <v-flex xs6>
              {{ $t('user.profile.phone') }}
            </v-flex>
            <v-flex v-if="user.phone" xs6>
              {{ user.phone }} - {{ user.cityPre }}
            </v-flex>
            <v-flex v-else xs6>
              {{ $t('user.profile.doesnotexist') }}
            </v-flex>
          </v-layout>
          <v-divider />
        </v-flex>
        <v-flex xs12>
          <v-layout wrap justify-center align-center>
            <v-flex xs6>
              {{ $t('user.profile.telegram') }}
            </v-flex>
            <v-flex v-if="user.telegram" xs6>
              <span dir="auto">{{ user.telegram }}</span>
            </v-flex>
            <v-flex v-else xs6>
              {{ $t('user.profile.doesnotexist') }}
            </v-flex>
          </v-layout>
          <v-divider />
        </v-flex>
        <v-flex xs12>
          <v-layout wrap justify-center align-center>
            <v-flex xs6>
              {{ $t('user.profile.bale') }}
            </v-flex>
            <v-flex v-if="user.bale" xs6>
              <span dir="auto">{{ user.bale }}</span>
            </v-flex>
            <v-flex v-else xs6>
              {{ $t('user.profile.doesnotexist') }}
            </v-flex>
          </v-layout>
          <v-divider />
        </v-flex>
        <v-flex xs12>
          <v-layout wrap justify-center align-center>
            <v-flex xs6>
              <span dir="auto">{{ $t('user.profile.instagram') }}</span>
            </v-flex>
            <v-flex v-if="user.instagram" xs6>
              <span dir="auto">{{ user.instagram }}</span>
            </v-flex>
            <v-flex v-else xs6>
              {{ $t('user.profile.doesnotexist') }}
            </v-flex>
          </v-layout>
          <v-divider />
        </v-flex>
        <v-flex xs12>
          <v-layout wrap justify-center align-center>
            <v-flex xs6>
              {{ $t('user.profile.whatsapp') }}
            </v-flex>
            <v-flex v-if="user.whatsapp" xs6>
              <span dir="auto">{{ user.whatsapp }}</span>
            </v-flex>
            <v-flex v-else xs6>
              {{ $t('user.profile.doesnotexist') }}
            </v-flex>
          </v-layout>
          <v-divider />
        </v-flex>
        <v-flex xs12>
          <v-layout wrap justify-center align-center>
            <v-flex xs6>
              {{ $t('user.profile.postalCode') }}
            </v-flex>
            <v-flex v-if="user.postalCode" xs6>
              <span dir="auto">{{ user.postalCode }}</span>
            </v-flex>
            <v-flex v-else xs6>
              {{ $t('user.profile.doesnotexist') }}
            </v-flex>
          </v-layout>
          <v-divider />
        </v-flex>
        <v-flex xs12>
          <v-layout wrap justify-center align-center>
            <v-flex xs6>
              {{ $t('user.profile.address') }}
            </v-flex>
            <v-flex v-if="user.address" xs6>
              <span dir="auto">{{ user.address }}</span>
            </v-flex>
            <v-flex v-else xs6>
              {{ $t('user.profile.doesnotexist') }}
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  data() {
    return {}
  },
  computed: {
    user() {
      return this.$store.state.auth.user
    }
  }
}
</script>
