<template>
  <v-card v-if="user.martyr" flat color="primary">
    <v-card-text>
      <v-layout wrap justify-center>
        <v-flex xs12>
          {{ $t('user.profile.martyrName') }}:{{ user }}
        </v-flex>
      </v-layout>
    </v-card-text>
  </v-card>

  <v-card v-else flat color="primary">
    <v-card-text>
      <v-layout wrap justify-center>
        <v-flex xs12>
          {{ $t('user.profile.martyrNotFound') }}
        </v-flex>
      </v-layout>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  data() {
    return {}
  },
  computed: {
    user() {
      return this.$store.state.auth.user
    }
  }
}
</script>
