<template>
  <v-card flat color="primary">
    <v-card-text>
      <v-layout wrap justify-center align-center>
        <v-flex xs12>
          <v-layout wrap justify-center align-center>
            <v-flex xs6>
              {{ $t('user.profile.name') }}
            </v-flex>
            <v-flex v-if="user.name" xs6>
              {{ user.name }}
            </v-flex>
            <v-flex v-else xs6>
              {{ $t('user.profile.doesnotexist') }}
            </v-flex>
          </v-layout>
          <v-divider />
        </v-flex>
        <v-flex xs12>
          <v-layout wrap justify-center align-center>
            <v-flex xs6>
              {{ $t('user.profile.lastName') }}
            </v-flex>
            <v-flex v-if="user.lastName" xs6>
              {{ user.lastName }}
            </v-flex>
            <v-flex v-else xs6>
              {{ $t('user.profile.doesnotexist') }}
            </v-flex>
          </v-layout>
          <v-divider />
        </v-flex>
        <v-flex xs12>
          <v-layout wrap justify-center align-center>
            <v-flex xs6>
              {{ $t('user.profile.fatherName') }}
            </v-flex>
            <v-flex v-if="user.fatherName" xs6>
              {{ user.fatherName }}
            </v-flex>
            <v-flex v-else xs6>
              {{ $t('user.profile.doesnotexist') }}
            </v-flex>
          </v-layout>
          <v-divider />
        </v-flex>
        <v-flex xs12>
          <v-layout wrap justify-center align-center>
            <v-flex xs6>
              {{ $t('user.profile.birthday') }}
            </v-flex>
            <v-flex v-if="user.birthday" xs6>
              {{ $d(new Date(user.birthday), 'short') }}
            </v-flex>
            <v-flex v-else xs6>
              {{ $t('user.profile.doesnotexist') }}
            </v-flex>
          </v-layout>
          <v-divider />
        </v-flex>
        <v-flex xs12>
          <v-layout wrap justify-center align-center>
            <v-flex xs6>
              {{ $t('user.profile.credit') }}
            </v-flex>
            <v-flex xs6>
              {{ $n(user.credit) }} {{ $t('user.profile.currency') }}
            </v-flex>
          </v-layout>
          <v-divider />
        </v-flex>
        <v-flex xs12>
          <v-layout wrap justify-center align-center>
            <v-flex xs6>
              {{ $t('user.profile.userType') }}
            </v-flex>
            <v-flex v-if="user.userType" xs6>
              {{ $t(`user.profile.${user.userType}`) }}
            </v-flex>
            <v-flex v-else xs6>
              {{ $t('user.profile.doesnotexist') }}
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-card-text>
  </v-card>
</template>


<script>
export default {
  data() {
    return {}
  },
  computed: {
    user() {
      return this.$store.state.auth.user
    }
  }
}
</script>
