<template>
  <validation-observer ref="loginObs">
    <v-card slot-scope="{ invalid, validated }" color="secondary">
      <v-card-title>
        {{ $t('login.title') }}
      </v-card-title>
      <v-card-text>
        <v-form>
          <v-layout justify-center wrap align-center>
            <v-flex xs12>
              <validation-provider
                rules="required"
                name="usernameOrEmail"
              >
                <v-text-field
                  v-model="username"
                  slot-scope="{
                    errors,
                    valid
                  }"
                  :error-messages="errors"
                  :success="valid"
                  dir="auto"
                  name="Username"
                  :label="$t('login.usernameOrEmail')"
                  :placeholder="$t('login.usernameOrEmail')"
                  required
                />
              </validation-provider>
            </v-flex>
            <v-flex xs12>
              <validation-provider
                rules="required"
                name="password"
              >
                <v-text-field
                  v-model="password"
                  slot-scope="{
                    errors,
                    valid
                  }"
                  :error-messages="errors"
                  :success="valid"
                  dir="auto"
                  name="Password" 
                  type="password"
                  :label="$t('login.password')"
                  :placeholder="$t('login.password')"
                  required
                />
              </validation-provider>
            </v-flex>
            <v-flex xs12>
              <v-btn color="primary" :disabled="invalid || !validated" type="submit" @click.stop.prevent="login()">
                {{ $t('login.loginBtn') }}
              </v-btn>
            </v-flex>
            <v-flex xs12>
              {{ $t('login.registeration') }}
              <v-btn flat color="primary" to="/auth/register">
                {{ $t('login.registerBtn') }}
              </v-btn>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>
    </v-card>
  </validation-observer>
</template>

<script>
export default {
  data() {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    async login() {
      try {
        this.$toast.show(this.$t('messages.loggingIn'))
        await this.$auth.loginWith('local', {
          data: {
            username: this.username,
            password: this.password
          }
        })
        this.$toast.success(this.$t('messages.authenticatedSuccess'))
      } catch (e) {
        this.$toast.error(this.$t('messages.usernameOfPasswordInCorrect'))
      }
    }
  }
}
</script>
