<template>
  <v-container fill-height fluid grid-list-md>
    <v-layout justify-center wrap row>
      <v-dialog
        v-model="avatarDialog"
        persistent
        max-width="400"
      >
        <v-card
          dark
        >
          <v-card-text>
            <v-layout justify-center wrap column align-center>
              <v-flex md4 sm8 xs12 class="text-xs-center">
                <v-avatar
                  size="120"
                >
                  <img 
                    v-if="avatarUrl"
                    :src="avatarUrl"
                    height="200px" 
                    alt="user avatar"
                    contain
                  >
                </v-avatar>
              </v-flex>
              <v-flex md8 xm12 xs12 class="text-xs-center">
                <v-text-field
                  v-model="avatarName"
                  name="Avatar"
                  :label="$t('user.profile.avatar')"
                  prepend-icon="attach_file"
                  @click="avatarPickFile"
                />
                <input
                  ref="avatar"
                  type="file"
                  style="display: none"
                  accept="image/*"
                  @change="avatarOnFilePicked"
                >
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <v-btn flat color="primary" @click="uploadAvatar()">
              ثبت
            </v-btn>
            <v-btn flat color="red" @click="avatarDialogCancel()">
              لغو
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-flex md3 xs12 offset-md1>
        <v-container fluid fill-height text-xs-center>
          <v-layout wrap justify-center>
            <v-flex xs12>
              <v-card color="primary">
                <v-badge overlap color="green" class="mt-4">
                  <template v-slot:badge>
                    <v-icon small @click="avatarDialog = !avatarDialog">
                      fa-plus-circle
                    </v-icon>
                  </template>
                  <v-avatar
                    size="120"
                  >
                    <img
                      :src="user.avatar"
                      alt="user avatar"
                      contain
                    >
                  </v-avatar>
                </v-badge>
                <v-card-text>
                  <v-layout wrap justify-center>
                    <v-flex xs12>
                      <strong>
                        {{ user.username }}
                      </strong>
                    </v-flex>
                    <v-flex v-if="user.name || user.lastName" xs12>
                      {{ user.name }} {{ user.lastName }}
                    </v-flex>
                    <v-flex xs12>
                      {{ $t('user.profile.status') }}:
                      <template v-if="user.isActive">
                        <v-icon color="success">
                          fa-user-check
                        </v-icon>
                        <span
                          class="green--text text--darken-3"
                        >
                          {{ $t('user.profile.active') }}
                        </span>
                      </template>
                      <template v-else>
                        <v-icon color="error">
                          fa-user-times
                        </v-icon>
                        <span
                          class="red--text text--darken-3"
                        >
                          {{ $t('user.profile.notActive') }}
                        </span>
                      </template>
                    </v-flex>
                    <v-flex xs12>
                      {{ $t('user.profile.credit') }}: {{ $n(user.credit) }} {{ $t('user.profile.currency') }}
                    </v-flex>
                  </v-layout>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
      <v-flex md7 xs12>
        <v-container fluid fill-height text-xs-center>
          <v-layout wrap justify-center>
            <v-flex xs12>
              <v-tabs
                grow
                color="secondary"
                dark
                icons-and-text
              >
                <v-tabs-slider color="red" />

                <v-tab href="#tab-1">
                  {{ $t('user.profile.personalInfo') }}
                  <v-icon>fa-user</v-icon>
                </v-tab>

                <v-tab href="#tab-2">
                  {{ $t('user.profile.contactInfo') }}
                  <v-icon>fa-phone</v-icon>
                </v-tab>

                <v-tab-item
                  :value="'tab-1'"
                >
                  <user-profile />
                </v-tab-item>

                <v-tab-item
                  :value="'tab-2'"
                >
                  <contact-info-card />
                </v-tab-item>
              </v-tabs>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import userProfile from '~/components/user/edit-profile/userProfile'
import contactInfoCard from '~/components/user/edit-profile/contactInfo'
export default {
  components: {
    userProfile,
    contactInfoCard
  },
  head() {
    return {
      title: 'بروزرسانی حساب کاربری'
    }
  },
  data() {
    return {
      avatarDialog: false,
      avatarName: null,
      avatarUrl: null,
      avatarFile: null,
      text: 'اطلاعات کاربر'
    }
  },
  computed: {
    user() {
      return this.$store.state.auth.user
    }
  },
  methods: {
    async uploadAvatar() {
      try {
        this.$toasted.show(this.$t('user.profile.uploadingAvatar'))
        const data = new FormData()
        data.append('avatar', this.avatarFile)
        await this.$axios.patch('/user/', data)
        this.$toasted.success(this.$t('user.profile.avatarUploadedSuccessfuly'))
        this.avatarDialogCancel()
        await this.$auth.fetchUser()
      } catch (e) {
        this.$toasted.error(this.$t('user.profile.avatarUploadFailed'))
      }
    },
    avatarPickFile() {
      this.$refs.avatar.click()
    },
    avatarOnFilePicked(e) {
      const files = e.target.files
      if (files[0] !== undefined) {
        this.avatarName = files[0].name
        if (this.avatarName.lastIndexOf('.') <= 0) {
          return
        }
        const fr = new FileReader()
        fr.readAsDataURL(files[0])
        fr.addEventListener('load', () => {
          this.avatarUrl = fr.result
          this.avatarFile = files[0] // this is an image file that can be sent to server...
        })
      } else {
        this.avatarName = ''
        this.avatarUrl = ''
        this.avatarFile = null
      }
    },
    avatarDialogCancel() {
      this.avatarDialog = false
      this.avatarName = ''
      this.avatarUrl = ''
      this.avatarFile = null
    }
  }
}
</script>
