<template>
  <v-container>
    <v-layout>
      <v-flex xs12>
        <v-data-table
          dark
          :headers="headers"
          :loading="loading"
          :items="tagList"
          class="elevation-1"
        >
          <template v-slot:items="props">
            <td>{{ props.item.tagTxt }}</td>
            <td class="text-xs-center">
              <v-icon
                small
              >
                edit
              </v-icon>
              <v-icon
                small
                class="mr-2"
                @click="deteleTag(props.item._id)"
              >
                delete
              </v-icon>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  layout: 'panel',
  data() {
    return {
      loading: false,
      tagList: [],
      headers: [
        {
          text: 'متن',
          align: 'right',
          sortable: true,
          value: 'tagTxt'
        },
        { text: 'عملیات', align: 'center', sortable: false }
      ]
    }
  },
  async asyncData({ app }) {
    try {
      const { data } = await app.$axios.get('/admin/tag')
      console.log(data)
      return { tagList: data.tagList }
    } catch (e) {
      console.log(e)
    }
  },
  fetch({ store, redirect }) {
    if (!store.$auth.loggedIn || store.$auth.user.userType !== 'superAdmin') {
      return redirect('/')
    }
  },
  methods: {
    deteleTag(tagId) {
      try {
        this.$toasted.show(this.$t('tag.deletingTag'))
        this.$axios
          .delete(`/admin/tag/${tagId}`)
          .then(response => {
            this.$toasted.success(this.$t('tag.deleteTagSuccessfuly'))
            this.$toasted.show(this.$t('tag.fetchingTag'))
            this.loading = true
            this.$axios.get('/admin/tag').then(response => {
              this.tagList = response.data.tagList
              this.$toasted.success(this.$t('tag.fetchTagSuccessfuly'))
              this.loading = false
            })
          })
          .catch(e => {
            this.$toasted.error(this.$t('tag.deleteTagFailed'))
            console.log(e)
          })
      } catch (e) {
        this.$toasted.error(this.$t('tag.deleteTagFailed'))
        console.log(e)
      }
    }
  }
}
</script>
