<template>
  <v-footer
    dark
    height="auto"
  >
    <v-card
      class="flex"
      flat
      tile
    >
      <v-card-title dark>
        <v-spacer />
      </v-card-title>

      <v-card-actions class="grey darken-3 justify-center">
        <span>&copy; {{ $t('footer.copyRight') }}</span>
      </v-card-actions>
    </v-card>
  </v-footer>
</template>

<script>
export default {}
</script>
